<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}RatedFrog{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">

    <link rel="icon" 
          href="/static/image/favicon.ico">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bower_components/lodash/lodash.min.js"></script>
    <script src="/static/bower_components/parsleyjs/dist/parsley.min.js"></script>
    {% block js %}{% endblock %}
    

  </head>

  <body class="{% block xtra_body_class %}{% endblock %}">

    <nav id="nav" class="navbar {% block xtra_nav_class %}navbar-inverse navbar-fixed-top {% endblock %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/image/logo.png" alt="RatedFrog"></a>
        </div>

        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">


			{% if user.is_authenticated %}
				{% if user.userprofile.is_customer %}
              <li><a href="{% url 'projects:create' %}">+ New Project</a></li>
	            <li><a href="{% url 'projects:list' %}">
                    Project Board
                    {% if user.userprofile.unread_message_count > 0 %}
                    <span class="unread_message_pop">{{user.userprofile.unread_message_count}}<span>
                    {% endif %}
                  </a>
              </li>
	            {% endif %}

	            {% if user.userprofile.is_company %}
	            <li><a href="{% url 'pitches:list' %}"><span>Job Requests</span> 
                {% if user.userprofile.unread_message_count > 0 %}
                <span class="unread_message_pop">{{user.userprofile.unread_message_count}}</span>
                {% endif %}
              </a></li>
	            {% endif %}

	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.full_name }} <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{% url 'users:profile' %}">My Profile</a></li>
	                <li><a href="{% url 'auth:logout' %}">Logout</a></li>
	              </ul>
	            </li>
			{% else %}
	            <li class="active"><a href="{% url 'auth:register' %}">Sign up</a></li>
	            <li><a href="{% url 'auth:login' %}">Login</a></li>

              {% if not user.is_authenticated %}
              {% block headerbutton %}
              {% endblock %}
              {% endif %}
			{% endif %}

          </ul>
        </div> 
      </div>
    </nav>

    {% block bighead %}{% endblock %}

    <div class="container main-body">
      {% block content %}
      {% endblock %}


      <div style="clear:both"></div>
    </div> <!-- /container -->

  <footer>
    <!--
    <div class="footer_row col-md-3">
      <ul>
        <li class="footer_row_li_head">
          Customers
        </li>
        <li>
          How it works
        </li>
        <li>
          Service provider safety
        </li>
        <li>
          Short stories from other customers
        </li>
      </ul>
    </div>

    <div class="footer_row col-md-3">
      <ul>
        <li class="footer_row_li_head">
          For business
        </li>
        <li>
          How it works
        </li>
        <li>
          Sign up
        </li>
        <li>
          Short stories from other businesses
        </li>
      </ul>
    </div>

    <div class="footer_row col-md-3">
      <ul>
        <li class="footer_row_li_head">
          Blog
        </li>
        <li>
          About us
        </li>
        <li>
          Privacy Policy
        </li>
        <li>
          Terms of use
        </li>
      </ul>
    </div>
    -->
    <div class="footer_row col-md-4">
      <ul>
        <li>
          Find a Web Developer in Hong Kong
        </li>
        <li>
          Find a App Developer in Hong Kong
        </li>
        <li>
          Find a Graphic Designer in Hong Kong
        </li>
        <li>
          Find a Web Designer in Hong Kong
        </li>
      </ul>
    </div>

    <div class="footer_row col-md-4">
      <ul>
        <li>
          Find a Print Designer in Hong Kong
        </li>
        <li>
          Find a Marketer in Hong Kong
        </li>
        <li>
          Find a Digital Marketer in Hong Kong
        </li>
        <li>
          Find a Photographer in Hong Kong
        </li>
      </ul>
    </div>


    <div class="footer_row col-md-3">
      <div class="footer_address">
        RatedFrog, Suite 1004, L Plaza<br>
        367-375 Queens Road Central<br>
        Sheung Wan, Hong Kong<br>
        contact@ratedfrog.com
      </div>
      <div>
        <div class="footer_logo"><img src="/static/image/logo.png" alt="RatedFrog"></div>
        <div class="footer_sm">
          <a href="https://www.facebook.com/ratedfrog" target="_blank"><img src="/static/image/facebook.png"></a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <a href="javascript:void(0)" class="footer_contact_us" id="contact-us">Contact Us</a>
    <p class="footer_copyright">&copy; RatedFrog 2015 </p>
  </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      var keepFooterAtBottom = function(){
        $('footer').removeClass('fixed_bottom');
        if ($(window).height() > $("html").height()){
          $('footer').addClass('fixed_bottom');
        }
      };

      $(window).on("resize", keepFooterAtBottom);

      $(keepFooterAtBottom);
      
    </script>

<div class="modal fade" id="modal-contact-us">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="contact-us-form">
        <h3 class="text-center">Contact Us</h3>
        <div class="modal-body">
          <div class="form-group "> 
            <label class=" control-label" for="id_cs_email">Email</label>
            <div class="create_project_answers">
              <input type="text" name="email" id="id_cs_email" class="form-control" value="{{ user.email }}" required >
            </div>
          </div>

          <div class="form-group "> 
            <label class=" control-label" for="id_cs_message">Message</label>
            <div class="create_project_answers">
              <textarea rows="8" name="message" maxlength="1024" id="id_cs_message" cols="40" class="form-control" required></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit"  class="btn btn-blue">Send</button>
        </div>
      </form>
      <div id="contact-us-done" class="hide">
        <h3 class="text-center">Contact Us</h3>
        <div class="text-center" style="margin:40px 0">
          Thank you for your message
        </div>
        <div class="modal-footer">
          <button type="button"  data-dismiss="modal" class="btn btn-blue">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  <script>
    //contact-us form
    $(function(){
      var form = $( "#contact-us-form" );
      form.parsley();
      form.submit(function( event ) {

        $.postJSON("{% url 'contacts:create' %}", {
            email : $('#id_cs_email').val(),
            message: $('#id_cs_message').val()
        });

        form.addClass('hide');
        $('#contact-us-done').removeClass('hide');
        event.preventDefault();
        
      });

      $('#contact-us').click(function(){
        form[0].reset()
        $('#modal-contact-us').modal();
        form.removeClass('hide');
        $('#contact-us-done').addClass('hide');
      });
    });

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
        }
    });

    jQuery.extend({
      postJSON : function(url, data, callback){
         $.ajax({
          url:url,
          type:"POST",
          data: JSON.stringify(data),
          contentType:"application/json; charset=utf-8",
          dataType:"json",
          success: callback
          })
        }
    });

  </script>

  {% block xtra_script %}{% endblock %}
  </body>
</html>
