{% extends "weconnect/base.html" %}
{% load addcss %}
{% block title %}
RatedFrog: Find trusted and rated professionals to help you with your projects
{% endblock %}

{% block xtra_nav_class %}
  navbar-index
{% endblock %}

{% block xtra_body_class %}
  body-index
{% endblock %}

{% block headerbutton %}
        <div>
          <a class="btn pull-right btn-tran" href="{% url 'home_business' %}">For Business</a>
        </div>
{% endblock %}

{% block bighead %}
    <div class="index-main-space index-main-space-customer">&nbsp;</div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container index-action-block">
        <h1>Find trusted and rated professionals to help you with your projects</h1>
        <div>
    			<form id="contact-form" class="index-action-form form-horizontal" action="{% url 'projects:create' %}" method="post" data-parsley-validate>
                {% csrf_token %}
    	        	<div class="form-group">
                  <div class="col-md-9 no-padding">
                    {{ form.business|addattrs:'class=form-control big-control,required=required,data-parsley-error-message=Please select a business type'}}
                  </div>
                  <div class="col-md-3 no-padding">
                    <input type="submit" class="btn btn-blue" value="Continue">
                  </div>

                </div>
              
    			</form>
        </div>
     
      </div>
    </div>
{% endblock %}


{% block content %}
      <!-- Example row of columns -->
      <h2 class="text-center index-h2">
        How it works
      </h2>
      <div class="row index-desc-flow">
        <div class="col-md-3">
          <h3 class="index-step-title">
            <span class="blue index-step-number col-md-1">1.</span> 
            Tell us what you are looking for
          </h3>
          <img src="/static/image/customer-1.png">
          <p class="text-justify index-desc-p">Let us know what you are looking for, where you are looking for it and how much you want to spend</p>
        </div>

        <div class="col-md-9">
          <div class="row">

            <div class="col-md-2 arror-right"><img src="/static/image/arrow-right.png"></div>

            <div class="col-md-4">
              <h3 class="index-step-title">
                <span class="blue index-step-number col-md-1">2.</span> 
                Receive 3 proposals within 24 hours
              </h3>
              <img src="/static/image/customer-2.png">
              <p class="text-justify index-desc-p">Within 24 hours we will connect you with three professionals that can help you with your needs</p>
     
           </div>

           <div class="col-md-2 arror-right"><img src="/static/image/arrow-right.png"></div>

            <div class="col-md-4">
              <h3 class="index-step-title">
                <span class="blue index-step-number col-md-1">3.</span> 
                Compare and decide who to work with
              </h3>
              <img src="/static/image/customer-3.png">
              <p class="text-justify index-desc-p">Compare prices, portfolio and reviews to help you decide who you want to work with.</p>

            </div>



          </div>
        </div>


      </div>

<!--
      <div class="clearfix"></div>
      <h2 class="text-center index-h2">
        We can help you find many types of professionals
      </h2>
      <div class="row index-desc-flow">
        <div class="col-md-4">

          <h3 class="index-step-title">
            Developers and Designers
          </h3>

          <p>Find talented developers and designers for your persona projects.</p>
 
    
        </div>
        <div class="col-md-4">

          <h3 class="index-step-title">
            Marketing
          </h3>

          <p>Get expert marketing advice, strategy and execution for your product or service.</p>
 
    
        </div>
        <div class="col-md-4">

          <h3 class="index-step-title">
            Photography
          </h3>

          <p>Creative photographers for your event, wedding or product.</p>
 
    
        </div>
      </div>
-->

      <div class="clearfix"></div>
      <h2 class="text-center index-h2">
        Why trust RatedFrog?
      </h2>
      <div class="row index-desc-flow">
        <div class="col-md-6">
          <h3 class="index-step-title">
            <img src="/static/image/icon-1.png" class="trusted_icon">
            <span class="trusted_title"> Save time and let us do the work </span>
          </h3>
          <p>
            We take your project needs and search through our growing community to find pro's who are interested in working on your project.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="index-step-title">
            <img src="/static/image/icon-2.png" class="trusted_icon">
            <span class="trusted_title"> Its free, you'll never pay to find Pro's </span>
          </h3>
          <p>
            There is absolutely no cost for receiving quotes from Pro's through RatedFrog. Simply submit a project request and wait for your personal quotes.
          </p>
        </div>

        <div class="col-md-6">
          <h3 class="index-step-title">
            <img src="/static/image/icon-3.png" class="trusted_icon">
            <span class="trusted_title"> Trusted and Verified </span>
          </h3>
          <p>
            We personally verify all of the Pro's within our community to ensure they are trustworthy and have the experience required to deliver the best work.
          </p>
        </div>

        <div class="col-md-6">
          <h3 class="index-step-title">
            <img src="/static/image/icon-4.png" class="trusted_icon">
            <span class="trusted_title">Your details are safe with us</span>
          </h3>
          <p>
            Your details are always safe with us, we never give your private details to anyone.
          </p>
        </div>
      </div>

      <div class="clearfix"></div>
      <h2 class="text-center index-h2">
        Customer Stories
      </h2>
      <div class="row index-desc-flow">
        <div class="col-md-6">
          <h3 class="index-step-title">
            <span>New iPhone game app</span>
          </h3>
          <p>
            "I found an affordable app development

company quickly and easily through

RatedFrog and now have my very own App

in the Apple App Store. Best of all it cost me

me nothing to find the developer. Thank you

RatedFrog!"
          </p>
          <p>David Wong, HK Island</p>
        </div>
        <div class="col-md-6">
          <h3 class="index-step-title">
            <span>Photography for my launch</span>
          </h3>
          <p>
            "I spent ages trying to find a photographer until I finally discovered RatedFrog. I received quotes from 3 photographers and ended up working with one to shoot at the launch event of my new company."          </p>
          <p>Sarah Lee, Tsim Sha Tsui</p>
        </div>
      </div>

<div class="modal fade" id="modal-email-success">
  <div class="modal-dialog">
    <div class="modal-content">
      <h3 class="text-center">Thank you</h3>
      <div class="modal-body">
        <p>Thank you for your interest. We will contact you as soon as we launch!&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-blue">OK!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $('#get-notified-btn').click(function(){
    if ($('#contact-form').parsley().validate()){

      $.postJSON("{% url 'contacts:create' %}", {
        email : $('#email').val()
      });

      $('#modal-email-success').modal()
    }
  });

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
      }
  });

  jQuery.extend({
    postJSON : function(url, data, callback){
       $.ajax({
        url:url,
        type:"POST",
        data: JSON.stringify(data),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: callback
        })
      }
  });

</script>
{% endblock %}

