{% extends "weconnect/base.html" %}

{% block xtra_nav_class %}
  navbar-index
{% endblock %}

{% block xtra_body_class %}
  body-index
{% endblock %}

{% block bighead %}
    <div class="index-main-space">&nbsp;</div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container index-action-block">
        <h2>Grow your business by meeting new customers</h2>
        <div class="index-block-desc">
          It's simple, we send you requests from people that are looking for your expertise
        </div>
        <div>
			<form class="navbar-form index-action-form" action="{% url 'auth:register_business' %}" method="get">
            <span class="index-block-desc">What's your business</span>
	        	<div class="form-group">
            <select name="business" id="id_business" class="form-control">
              <option selected="selected" value=""></option>
              <option value="1">Marketing</option>
              <option value="2">Design, web and tech services</option>
              <option value="3">Photography</option>
            </select>
            </div>
	        	<button class="btn btn-primary" type="submit">Continue</button>
			</form>
        </div>
     
      </div>
    </div>
{% endblock %}


{% block content %}
      <!-- Example row of columns -->
      <div class="row index-desc-title">
        How it works
      </div>
      <div class="row index-desc-flow">
        <div class="col-md-4">
          <h2>1. We send you job leads</h2>
          <img src="/static/image/1.png">
          <p>We will send you relevant customer leads, you can choose which leads you accept</p>
 
    
        </div>
        <div class="col-md-4">
          <h2>2. Introduce yourself and provide a quote</h2>
          <img src="/static/image/2.png">
          <p>For the projects that you wish to work on, provide an introduction and quote.</p>
 
       </div>
        <div class="col-md-4">
          <h2>3. Win jobs, get rated and grow your profile</h2>
          <img src="/static/image/3.png">
          <p>Complete successful jobs and get reviews from your customers to help grow your profile.</p>

        </div>
      </div>



      <div class="row index-desc-title">
        Some of the professionals are already using
      </div>
      <div class="row index-desc-flow">
        <div class="col-md-4">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 
    
        </div>
        <div class="col-md-4">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 
    
        </div>
        <div class="col-md-4">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 
    
        </div>
      </div>

{% endblock %}

