<html>
	<body>
		<center>
			<table style="width:80%; border:1px solid #e5e5e5; border-radius: 5px; padding: 50px;color:#1a1a1a; font-size:16px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
				<tr><td>
			        {% block content %}
			        {% endblock %}
			        <br><br>
					<hr style="background-color:#e5e5e5; border:0 none; height:1px">
					<center><a href="http://ratedfrog.com" style="color:#3d7dca; text-decoration: none; ">www.ratedfrog.com</a></center>
				</td></tr>
			</table>
		</center>
	</body>
</html>