{% extends "emails/base.html" %}
{% block content %}
	Hi {{ name }},
	<br><br>
	{{ customer_name }} decided to hire another professional for this project. We wish you better luck next time.
	<br><br>
	How to improve your chances of winning projects:
	<br><br>
	<b style="font-size:18px">1.</b> Respond to job requests as soon as you can
	<br>
	<b style="font-size:18px">2.</b> Make sure your profile page is completed with your latest and best work
	<br>
	<b style="font-size:18px">3.</b> Try to personalise your proposal message to the customers requirements
	<br><br>
	View our tips page for more tips on how improve your chances of winning projects.
	<br><br>
	The RatedFrog Team
{% endblock %}


