{% extends "emails/base.html" %}
{% block content %}
	Hi {{ name }},
	<br><br>
	{{ customer_name }} decided to hire another professional for this project. We wish you better luck next time.
	<br><br>
	How to improve your chances of winning projects:
	<br><br>
	&nbsp;&nbsp;&nbsp;&nbsp;1. Respond to job requests as soon as you can
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;2. Make sure your profile page is completed with your latest and best work
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;3. Try to personalise your proposal message to the customers requirements
	<br><br>
	View our tips page for more tips on how improve your chances of winning projects.
	<br><br>
	The RatedFrog Team
{% endblock %}

Hi [Name],

[first name of customer] decided to hire another professional for this project. We wish you better luck next time.


