{% extends "emails/base.html" %}
{% block content %}

Hi {{ name }},
<br><br>
Thanks for signing up to RatedFrog, we are very excited to have you join our community.
<br><br>
We are already connecting with experienced, qualified and approved {{ role|lower  }}s and over the next 24 hours or so {{ role|lower  }}s that are interested in your project will be in touch.
<br><br>
How it works
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;1. We are currently reaching out to a select few companies from our community of qualified and approved professional, and you will receive 3 custom proposals within 24 hours.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;2. You can then review their proposal, profiles, previous customer reviews, call them and then when you are ready, decide who you want to hire.
<br><br>
The RatedFrog Team 

{% endblock %}