/* Move down content because we have a fixed navbar that is 50px tall */
html{
  height: 100%;
}
body {
  padding-top: 50px; 
  font-size: 16px;   
  color: #1a1a1a;
  min-height: 100%;
}

h1 {
    font-size: 40px;
}

.pitch_pitches_select {
    list-style-type: none;
}

.pitch_pitches_select li {
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    font-weight: bold;
    margin-left: -5px;
    margin-top: 30px;
    text-align: center;
    width: 250px;
    vertical-align: bottom;
}
.pitches_select_selected {
    left: -5px;
    position: relative;
    top: 4px;
}
.pitches_select_selected > img{
    position: absolute;
}
.pitch_pitches_select a {
    display: inline-block;
    padding: 0 80px 10px;
}

.pitch_pitches_select li:hover {
    text-decoration: none;
    border-bottom: 4px solid #3d7dca;
}

.pitch_pitches_select a:hover {
    text-decoration: none;
}

.pitch_pitches_select .highlighted {
    border-bottom: 4px solid #3d7dca;
}

.pitches_pitch_item {
    list-style-type: none;
}

.pitches_pitch_item li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}
.pitches_pitch_item_image {
    max-height: 100px;
    max-width: 100px;
}
.pitches_pitch_item_button {
    line-height: 100px;
}
.pitches_pitch_item_quoted_time {
    font-size: 14px;
    margin-top: 20px;
    text-align: right;
}
.pitch_item_hired .pitches_pitch_item_button{
    line-height: normal;
}
.projects_project_ul {
    list-style-type: none;
}

.projects_project_item {
    border: 1px solid #ccc;
    height: 350px;
    margin-bottom: 30px;
    padding: 50px 30px;
    vertical-align: middle;
    border-radius: 3px;
}

.projects_project_item_count {
    color: #3d7dca;
    display: block;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.projects_project_item_sp {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 20px;
    text-align: center;
}

.projects_project_item p {
    margin-top: 10px;
}

.projects_project_item_view {
    display: block;
    margin-top: 30px;
    text-align: center;
}

.pitches_pitch_operations {
     padding: 10px 0;
}
.pitches_pitch_operations_text {
    display: inline-block;
    margin: 0 10px;
}
.pitches_company_select {
    list-style-type: none;
    margin: 10px 0 35px -15px;
}
.pitches_company_select_item_selected {
    display: block;
    margin-bottom: -26px;
    position: relative;
    text-align: center;

}
.pitches_company_select_item.highlighted {
    border-bottom: 3px solid #3d7dca;
}
.pitches_company_select li {
    display: inline-block;
}
.pitches_company_select_item {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px 20px;
}
.pitches_company_select_item_head {
    font-size: 20px;
}
.pitches_company_select_item_price {
    color: #3d7dca;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}
.pitches_company_select_item_content {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding: 10px 0;
}
.pitches_company_select_item_content_logo {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    width: 100px;
    color: #cccccc;
}
.pitches_company_select_item_content_logo > img {
    max-height: 100px;
    max-width: 100px;
    text-align: center;
}
.pitches_company_select_item_content_name {
    font-size: 20px;
    font-weight: bold;
}
.pitches_company_select_item_link {
    color: #3d7dca;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.pitches_company_select_item_link:hover{
    text-decoration: none;
    color: #3d7dca;
}

.pitches_pitch_quotecontact_head {
    padding: 0;
}

.pitches_pitch_quotecontact_price {
    font-size: 20px;
}

.pitches_pitch_quotecontact_content {
    padding: 15px;
}

.pitches_pitch_quotecontact_content span {
    display: block;
    margin-bottom: 5px;
}

.pitches_pitch_quotecontent_content_head {
    padding: 15px;
}

.pitches_pitch_quotecontent_content_head_name {
    font-size: 17px;
}

.pitches_pitch_quotecontent_content_head_time {
}
.pitches_pitch_contact_item {
    padding: 10px 0;
}
.pitches_pitch_contact_item_icon {
    display: inline-block;
    width: 15%;
}
.pitches_pitch_contact_text {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    word-wrap: break-word;
}
.pitches_pitch_quotecontent_desc {
    padding: 15px;
}

.pitches_pitch_quotecontent_content_operations {
    display: inline-block;
    padding: 15px;
    vertical-align: middle;
 
}

.pitches_pitch_message_item {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}

.pitches_pitch_message_item_head {
    padding: 10px 0;
}

.pitches_pitch_message_item_head span {
    font-size: 15px;

}
.pitches_pitch_message_button {
    text-align: right;
}
.pitches_pitch_messge_item_head_author {
    font-weight: bold;
}
.pitches_pitch_messge_item_head {
    margin-bottom: 10px;
}
.page_header{
    font-size: 20px;
    padding: 30px 0;
}

.unread_message_pop {
    background-color: red;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 16px;
    text-align: center;
    width: 16px;
    line-height: 16px;
}

.users_profile_business_head_text {
}

.profile_head_company_name {
    display: inline-block;
    margin: 10px 0;
}
.users_profile_business_head {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px 15px;
}
.users_profile_business_head_contact_item {
    margin-bottom: 5px;
}
.users_profile_business_head_contact_key {
    display: inline-block;
    margin-right: 25px;
    text-align: center;
    width: 5%;
}
.users_profile_business_head_contact_value {
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
}
.users_profile_business_head_logo{
    display: inline-block;
}
.users_profile_business_edit_btn {
    position: absolute;
    right: 30px;
    z-index: 1;
}
.company-profile-head {
    margin-bottom: 25px;
    margin-top: 0;
}
.company-profile-right-head{
    margin-bottom: 25px;
    margin-top: 0
}
.users_profile_business_head_company_contact {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}
.users_profile_business_head_person_contact {
    margin-top: 20px;
}
.users_profile_business_head_ppl_photo {
    border: 1px dashed #ccc;
    color: #ccc;
    display: inline-block;
    font-size: 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.users_profile_businesss_head_logo,
.pitches_quote_head_logo,
.business_head_logo {
    border: 1px dashed #ccc;
    color: #ccc;
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 150px;
}

.users_profile_businesss_head_logo_img,
.business_head_logo_img
 {
    width: 150px;
    float: left;
}
.users_profile_business_head_company {
    float: left;
    font-size: 18px;
    margin-left: 20px;
    vertical-align: top;
}
.users_profile_business_head_ppl {
    clear: both;
    float: left;
    margin-top: 10px;
}

 .pitches_project_head_ppl_photo,
 .pitches_quote_head_ppl_photo,
 .name_card_ppl_photo,
 .ppl_photo
  {
    border: 1px dashed #ccc;
    color: #ccc;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.users_profile_business_head_ppl_photo_img {
    max-height: 100px;
    max-width: 100px;
     margin-top: -10px;
}
.pitches_project_ppl_photo_img,
.pitches_quote_head_logo_img,
.pitches_quote_ppl_photo_img,
.name_card_ppl_photo_img,
.ppl_photo_img
{
    display: inline-block;
    max-height: 50px;
    max-width: 50px;
}
.users_profile_business_head_ppl_email {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.users_profile_business_head_contact {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.users_profile_business_head_contact_row {
    font-size: 13px;
}
.users_profile_business_head_contact_row_desc {
    display: inline-block;
    font-weight: bold;
    width: 30px;
}
.users_profile_business_desc {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 5px;
}
.users_profile_business_desc_head {
    font-size: 16px;
    font-weight: bold;
}
.users_profile_business_desc p {
    margin-top: 10px;
    min-height: 50px;
    width: 100%;
}
.users_profile_business_companydetail {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
}
.users_profile_business_companydetail_row {
    font-size: 13px;
    margin-bottom: 4px;
}
.users_profile_business_companysocial,
.users_profile_business_work {
    padding: 10px;
}
.users_profile_business_companysocial span {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}

.users_profile_business_right{
    float:right;
}
.users_profile_business_left{
    float:left;
}
.users_profile_business_service_item,
.pitches_project_row,
.pitches_quote_row {
    margin-top: 30px;
}
.users_profile_business_service_item_key,
.pitches_project_row_key,
.pitches_quote_row_key {
    font-weight: bold;
    display: block;
}
.users_profile_business_service_item_key_inline{
    font-weight: bold;
    display: inline-block;
    width: 170px;
}

.pitches_quote_row_key_full{
    font-weight: bold;

}
.pitches_quote_row_value_full{

}
.pitches_project_posted {
    float: right;
    line-height: 50px;
    margin-right: 20px;
}
.pitches_quote_price{
    float: right;
    line-height: 50px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
}
.users_profile_business_service_item_value,
.pitches_project_row_value,
.pitches_quote_row_value {
    margin-top: 5px;
    display: block;
}
.users_profile_business_service_item_value_inline{
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
.pitches_pitch_company_message{
    margin-top: 30px;
}
.image_edit {
    max-height: 50px;
    max-width: 50px;
}

.errorlist {
    color: red;
    list-style: outside none none;
}
.form-horizontal ul {
    list-style: outside none none;
}
.form-horizontal label {
    cursor: pointer;
}
.auth_login {
    margin-top: 50px;
    width: 50%;
}
.auth_register_mode {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    display: inline-block;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 60px;
    text-align: center;
}
.auth_register {
    padding-right: 50px;
}
.auth_register_right {
    border-left: 1px solid #e5e5e5;
    margin-top: -20px;
    padding-left: 50px;
}
.signup-step-title {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    width: 280px;
}
.signup-step-box > img {
    width: 100px;
}

.signup-step-box {
    margin-top: 50px;
}

.top_space{
    margin-top: 30px;
}
.pitches_pitch_quotecontact {
    padding: 0;
}
.pitches_project_headerdesc {
    font-size: 16px;
    margin-top: 15px;
}
.pitches_project_header {
    line-height: 25px;
    margin-top: 20px;
}
.pitches_project_ppl_name,
.pitches_quote_head_company {
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}
.pitches_company_operations{
    margin-top: 20px;
}
.pitches_quote_row_header,
.pitches_project_row_header {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.pitches_project,
.pitches_quote {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 20px;
}
.thick-green-border-bottom {
    border-bottom: 2px solid #5cb85c;
}
.thick-blue-border-bottom{
    border-bottom: 2px solid #337ab7;
}
.pitches_pitch_message_leave {
    margin-top: 15px;
}
.name_card {
    margin-bottom: 10px;
}
.name_card_ppl_name {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.action-btn-group{
    margin-top:10px;
}
.pitches_pitch_message_block {
    margin-top: 30px;
}
.pitches_pitch_message_item_head_date {

}
.pitches_pitch_quotecontact_content_business_name {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}
.pitches_pitch_quotecontact_content_contact_name {
    margin-top: 10px;
}
.pitches_pitch_quotecontent_desc_head{
    padding:15px;
    font-weight: bold;
}
.pitches_company_operations form {
    margin-bottom: 20px;
}
.pitches_pitch_item_btns{
    margin-top:10px;
}
.hired {
    background-color: #daa520;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    right: 40px;
    top: 20px;
}
.pitches_pitch_item_btns form {
    display: inline-block;
}
.pitches_pitch_messge_item_attach {
    font-size: 11px;
}
.index-main-space-business {
    background-image: url("/static/image/business-bg-1440.jpg");
}
.index-main-space-customer {
    background-image: url("/static/image/customer-bg-1440.jpg");    
}
.index-action-block h1 {
    margin: 0 auto;
    width: 80%;
}
.index-main-space {
    background-color: whitesmoke;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 650px;
    margin: -90px auto -650px;
}
.jumbotron {
    background-color: transparent;
    display: table;
    height: 700px;
    padding: 48px 0;
    width: 100%;
/*    background-color: rgba(0, 0, 0, 0.2); */
}
.index-action-block {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.index-block {
    font-size:16px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #666666;
}
.index-block-desc{
    font-size:17px;
}
.jumbotron h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow:  0px 0px 1px #999;

}
.index-action-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}
.no-padding {
    padding: 0;
}
.navbar-index a {
    color: white;
}
.body-index {
    padding-top: 0px;
}
.index-desc-title {
    color: #337ab7;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.index-desc-flow img {
    display: block;
    margin: 20px auto;
}
.index-desc-flow h2 {
    font-size: 18px;
}
footer {
    background-color: #080808;
    color: white;
    margin-top: 40px;
    padding: 40px 40px 10px;
    width: 100%;
}
.footer_copyright {
    margin-top: 20px;
    text-align: center;
    font-size:14px;
}
.footer_row ul {
    list-style: outside none none;
}
.footer_row_li_head {
    color: #3d7dca;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.footer_row li {
    margin-bottom: 15px;
}
.footer_logo {
    padding: 20px 0;
}

h2, .h2{
    font-size:32px;
    color: #3d7dca;
    font-weight: bold;
    margin: 50px 0px;
}

.blue {
    color:#3d7dca;
}

h3, .h3{
    color:#1a1a1a;
    font-size:20px;
    font-weight: bold;
}

.index-h2{
    margin: 50px 0px;
}
.index-step-title {
    height: 50px;
}
.index-step-number{
    height: 50px;
    margin-right: 5px;
}
.index-desc-p {
    margin-top: 40px;
}
.arror-right {
    margin-top: 130px;
}
.btn-blue {
    background: linear-gradient(90deg, rgb(58, 119, 192) 0%, rgb(71, 132, 205) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 1, 0.1);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 40px;
}
.btn-grey {
    background-color:#e5e5e5;
    border-color: transparent;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 1, 0.1);
    color: #3d7dca;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 40px;
}
.btn-grey:hover{
    color: #3d7dca;
    background-color:#e5e5e5;
}
.btn-blue:hover {
    color:#fff;
    background: linear-gradient(90deg, rgb(71, 132, 205) 100%), rgb(58, 119, 192) 0%, repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.big-control {
    font-size: 16px;
    height: 50px;
}

.btn-tran {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 25px;
}
.btn-tran:hover {
    background: white;
    color: #1a1a1a;
}
.modal-footer {
    border-top: medium none;
    padding: 15px;
    text-align: center;
}
.modal-body {
    font-size: 16px;
    padding: 10px 40px;
    position: relative;
    text-align: justify;
}
.modal-content {
    padding:40px;
}
.index-action-form .parsley-errors-list {
    color: white;
    list-style: outside none none;
    margin-bottom: 0;
    text-shadow: 1px 1px #1a1a1a;
}
.parsley-errors-list {
    color:red;
}
.index-desc-flow {
    margin-bottom: 30px;
}
.nav a{
    font-size:14px ;
}
.navbar-index .navbar-nav > li > a:hover,
.navbar-index .navbar-nav > li > a:focus {
    background: transparent;
}
.navbar-brand {
    padding: 9px 0 0;
    margin-left:10px;
}
#id_cancelled_reason_other {
    width: 100%;
}
.form-v ul {
    list-style: outside none none;
}
.sign-up-btn{
    margin-top:20px;
}
.auth_register_reminder_text{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    line-height: 21px;
}
.auth_register form {

}
.blue-link{
    color:#3d7dca;
    font-weight: bold;
}
.blue-link:hover{
    color:#3d7dca;
    text-decoration: none;
}
.bottom-border {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
}
.profile_header {
    padding: 30px;
}
.sm {
    background-image: url("/static/image/sm.png");
    display: inline-block;
    height: 41px;
    width: 41px;
    margin-bottom: 5px;
}
.sm_facebook {
    background-position: 0 -60px;
}
.sm_linkedin {
    background-position: 0 0;
}
.sm_twitter {
    background-position: 0 -120px;
}
.sm_google {
    background-position: 0 -180px;
}
.sm_pinterest {
    background-position: 0 -240px;
}
.sm_instagram {
    background-position: 0 -300px;
}
.users_profile_business_work_image {
    display: inline-block;
    margin: 15px auto;
    max-width: 250px;
}
.create_project_question {
    font-size: 20px;
    font-weight: bold;
}
.create_project_answers ul {
    padding: 0;
}
.create_project_answers input[type="checkbox"] {
    margin-right: 10px;
}
.create_project_answers label {
    font-weight: normal;
    margin-bottom: 10px;
}
.create_project_answers {
    margin-top: 10px;
}
.project_create_account_header,
.business_create_account_header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-top: 40px;
    padding: 20px 0;

}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.create_project_budget_range {
    font-weight: bold;
    margin-bottom: 6px;
}
.create_project_budget_currency {
    display: inline-block;
}
.create_project_budget_money {
    display: inline-block;
    vertical-align: middle;
}
.help_text {
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    margin-left: 5px;
}

.cancel_button{
    margin-left: 5px;
}
.pitches_pitch_item .pitches_empty_item {
    border: medium none;
    font-size: 20px;
    margin-top: 20px;
}
.pitches_pitch_quotecontent_content_head_time {
    font-size: 12px;
}
.pitches_pitch_message_item_head_date {
    font-size: 12px;
}
.blue-link > span {
    vertical-align: middle;
}
.projects_project_item_text {
    height: 40px;
}
.projects_project_item_date {
    bottom: 45px;
    color: #666666;
    font-size: 12px;
    position: absolute;
}
.navbar-index .container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
.navbar-brand > img {
    width: 180px;
}
.footer_logo > img {
    width: 180px;
}
.trusted_title {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
img.trusted_icon {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 30px;
}