/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px; 
  font-size: 16px;   
  color: #1a1a1a;
}

h1 {
    font-size: 40px;
}

.pitch_pitches_select {
    list-style-type: none;
}

.pitch_pitches_select li {
    display: inline-block;
}

.pitch_pitches_select a {
    display: inline-block;
    padding: 15px;
}

.pitch_pitches_select a:hover {
    text-decoration: none;
    border-bottom: 2px solid #337ab7;
}

.pitch_pitches_select .highlighted a {
    border-bottom: 2px solid #337ab7;
}

.pitches_pitch_item {
    list-style-type: none;
}

.pitches_pitch_item li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.pitches_pitch_item h1 {
    font-size: 20px;
}

.projects_project_item {
    list-style-type: none;
}

.projects_project_item li {
    border: 1px solid #ccc;
    height: 300px;
    margin-right: 40px;
    padding: 25px;
    vertical-align: middle;
}

.projects_project_item_count {
    display: block;
    font-size: 40px;
    text-align: center;
}

.projects_project_item_sp {
    font-size: 20px;
    text-align: center;
}

.projects_project_item p {
    margin-top: 10px;
}

.projects_project_item_view {
    display: block;
    margin-top: 30px;
    text-align: center;
}

.pitches_pitch_operations {
    margin-top: 10px;
    padding: 5px;
    text-align: right;
}

.pitches_company_select {
    list-style-type: none;
}


*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.pitches_company_select .highlighted a {
}
.pitches_company_select .highlighted a {
    border-bottom: 2px solid #337ab7;
}
.pitches_company_select a {
    color: #333333;
    display: block;
    font-size: 16px;
    padding: 30px;
    text-decoration: none;
}

.pitches_company_select a:hover {
    border-bottom: 2px solid #337ab7;
}

.pitches_company_select li {
    display: inline-block;
}

.pitches_pitch_quotecontact_head {
    border-bottom: 1px solid #666666;
    padding: 15px;
}

.pitches_pitch_quotecontact_price {
    font-size: 20px;
}

.pitches_pitch_quotecontact_content {
    padding: 15px;
}

.pitches_pitch_quotecontact_content span {
    display: block;
    margin-bottom: 5px;
}

.pitches_pitch_quotecontent_content_head {
    padding: 15px;
}

.pitches_pitch_quotecontent_content_head_name {
    font-size: 17px;
}

.pitches_pitch_quotecontent_content_head_time {
    color: #bbbbbb;
    font-size: 12px;
}

.pitches_pitch_quotecontent_desc {
    padding: 15px;
}

.pitches_pitch_quotecontent_content_operations {
    padding: 15px;
 
}

.pitches_pitch_message_item {
    border-top: 1px solid #cccccc;
    padding: 15px;
}

.pitches_pitch_message_item_head {
    padding: 10px 0;
}

.pitches_pitch_message_item_head span {
    font-size: 15px;

}
.pitches_pitch_messge_item_head_author {
    font-size: 14px;
    font-weight: bold;
}

.page_header{
    font-size: 20px;
    padding: 30px 0;
}

.unread_message_pop {
    background-color: red;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 16px;
    text-align: center;
    width: 16px;
    line-height: 16px;
}

.users_profile_business_head_text {
}

.users_profile_business_head {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 10px;
}

.users_profile_businesss_head_logo,
.pitches_quote_head_logo,
.business_head_logo {
    border: 1px dashed #ccc;
    color: #ccc;
    float: left;
    font-size: 35px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 150px;
}

.users_profile_businesss_head_logo_img,
.pitches_quote_head_logo_img,
.business_head_logo_img
 {
    max-height: 100px;
    max-width: 150px;
    float: left;
}
.users_profile_business_head_company,
.pitches_quote_head_company {
    float: left;
    font-size: 18px;
    margin-left: 20px;
    vertical-align: top;
}
.users_profile_business_head_ppl {
    clear: both;
    float: left;
    margin-top: 10px;
}
.users_profile_business_head_ppl_photo,
 .pitches_project_head_ppl_photo,
 .pitches_quote_head_ppl_photo,
 .name_card_ppl_photo,
 .ppl_photo
  {
    border: 1px dashed #ccc;
    color: #ccc;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.users_profile_business_head_ppl_photo_img,
.pitches_project_ppl_photo_img,
.pitches_quote_ppl_photo_img,
.name_card_ppl_photo_img,
.ppl_photo_img
{
    display: inline-block;
    max-height: 50px;
    max-width: 50px;
}
.users_profile_business_head_ppl_email {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
}
.users_profile_business_head_contact {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
.users_profile_business_head_contact_row {
    font-size: 13px;
}
.users_profile_business_head_contact_row_desc {
    display: inline-block;
    font-weight: bold;
    width: 30px;
}
.users_profile_business_desc {
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding:10px;
}
.users_profile_business_desc_head {
    font-size: 16px;
    font-weight: bold;
}
.users_profile_business_desc p {
    margin-top: 10px;
    min-height: 50px;
    width: 100%;
}
.users_profile_business_companydetail {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    vertical-align: top;
}
.users_profile_business_companydetail_row {
    font-size: 13px;
    margin-bottom: 4px;
}
.users_profile_business_companysocial {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.users_profile_business_companysocial span {
    display: block;
    font-size: 13px;
    margin-bottom: 3px;
}

.users_profile_business_right{
    float:right;
}
.users_profile_business_left{
    float:left;
}
.users_profile_business_edit_btn {
    font-size: 11px;
}
.users_profile_business_service_item,
.pitches_project_row,
.pitches_quote_row {
    font-size: 12px;
    margin-top: 10px;
}
.users_profile_business_service_item_key,
.pitches_project_row_key,
.pitches_quote_row_key {
    display: inline-block;
    font-weight: bold;
    width: 30%
}

.pitches_quote_row_key_full{
    font-weight: bold;
    font-size:14px;
}
.pitches_quote_row_value_full{
    font-size: 12px;
}

.users_profile_business_service_item_value,
.pitches_project_row_value,
.pitches_quote_row_value {
    display: inline-block;
    vertical-align: top;
}

.image_edit {
    max-height: 50px;
    max-width: 50px;
}

.errorlist {
    color: red;
    list-style: outside none none;
}
.form-horizontal ul {
    list-style: outside none none;
}
.form-horizontal label {
    cursor: pointer;
}
.auth_login {
    margin-top: 50px;
    width: 50%;
}
.auth_register_mode {
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    padding: 60px;
    text-align: center;
}
.auth_register{
    margin-top: 30px;
}
.top_space{
    margin-top: 30px;
}
.pitches_pitch_quotecontact {
    border: 1px solid #ccc;
    padding: 15px;
}
.pitches_project_headerdesc {
    font-size: 16px;
    margin-top: 15px;
}
.pitches_project_header {
    line-height: 25px;
}
.pitches_project_ppl_name,
.pitches_quote_ppl_name {
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
}
.pitches_company_operations{
    margin-top: 20px;
}
.pitches_project,
.pitches_quote {
    padding: 10px;
}
.thick-green-border-bottom {
    border-bottom: 2px solid #5cb85c;
}
.thick-blue-border-bottom{
    border-bottom: 2px solid #337ab7;
}
.pitches_pitch_message_leave {
    margin-top: 15px;
}
.name_card {
    text-align: center;
}
.name_card_ppl_name {
    font-size: 11px;
    font-weight: bold;
}

.action-btn-group{
    margin-top:10px;
}
.pitches_pitch_message_block {
    margin-top: 30px;
}
.pitches_pitch_message_item_head_date {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: bold;
}
.pitches_pitch_quotecontact_content_business_name {
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}
.pitches_pitch_quotecontact_content_contact_name {
    margin-top: 10px;
}
.pitches_pitch_quotecontent_desc_head{
    padding:15px;
    font-weight: bold;
}
.pitches_company_operations form {
    margin-bottom: 20px;
}
.pitches_pitch_item_btns{
    margin-top:10px;
}
.hired {
    background-color: #daa520;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}
.pitches_pitch_item_btns form {
    display: inline-block;
}
.pitches_pitch_messge_item_attach {
    font-size: 11px;
}
.index-main-space-business {
    background-image: url("/static/image/business-bg-1440.jpg");
}
.index-main-space-customer {
    background-image: url("/static/image/customer-bg-1440.jpg");    
}
.index-action-block h1 {
    margin: 0 auto;
    width: 80%;
}
.index-main-space {
    background-color: whitesmoke;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 700px;
    margin: -80px auto -700px;
}
.jumbotron {
    background-color: transparent;
    display: table;
    height: 700px;
    padding: 48px 0;
    width: 100%;
/*    background-color: rgba(0, 0, 0, 0.2); */
}
.index-action-block {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.index-block {
    font-size:16px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #666666;
}
.index-block-desc{
    font-size:17px;
}
.jumbotron h1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px #333333;

}
.index-action-form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}
.no-padding {
    padding: 0;
}
.navbar-index a {
    color: white;
}
.body-index {
    padding-top: 0px;
}
.index-desc-title {
    color: #337ab7;
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.index-desc-flow img {
    display: block;
    margin: 20px auto;
}
.index-desc-flow h2 {
    font-size: 18px;
}
footer {
    background-color: #080808;
    color: white;
    padding: 40px 40px 10px 40px;
    margin-top:40px;
}
.footer_copyright {
    margin-top: 20px;
    text-align: center;
    font-size:14px;
}
.footer_row ul {
    list-style: outside none none;
}
.footer_row_li_head {
    color: #3d7dca;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.footer_row li {
    margin-bottom: 5px;
}
.footer_logo {
    font-size: 18px;
    padding: 20px;
}

h2, .h2{
    font-size:32px;
    color: #3d7dca;
    font-weight: bold;
}

.blue {
    color:#3d7dca;
}

h3, .h3{
    color:#1a1a1a;
    font-size:20px;
    font-weight: bold;
}

.index-h2{
    margin: 50px 0px;
}
.index-step-title {
    height: 50px;
}
.index-step-number{
    height: 50px;
    margin-right: 5px;
}
.index-desc-p {
    margin-top: 40px;
}
.arror-right {
    margin-top: 130px;
}
.btn-blue {
    background: linear-gradient(90deg, rgb(58, 119, 192) 0%, rgb(71, 132, 205) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 1, 0.1);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 40px;
}

.btn-blue:hover {
    color:#fff;
    background: linear-gradient(90deg, rgb(71, 132, 205) 100%), rgb(58, 119, 192) 0%, repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.big-control {
    font-size: 16px;
    height: 50px;
}

*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.navbar-index a {
    color: white;
}
.btn-tran {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 25px;
}
.btn-tran:hover {
    background: white;
    color: #1a1a1a;
}
.modal-footer {
    border-top: medium none;
    padding: 15px;
    text-align: center;
}
.modal-body {
    font-size: 16px;
    padding: 10px 40px;
    position: relative;
    text-align: justify;
}
.modal-content {
    padding:40px;
}
.parsley-errors-list {
    color: white;
    list-style: outside none none;
    margin-bottom: 0;
    text-shadow: 1px 1px #1a1a1a;
}
.index-desc-flow {
    margin-bottom: 30px;
}