{% extends "weconnect/base.html" %}
{% block content %}

{% include 'pitches/select.html' with page='quote' only %}
<h1>Quotes</h1>

<ul class="pitches_pitch_item col-md-10">
	{% for pitch in pitches %}
	<li>
		<div>
			<h1>
				You sent a quote to {{  pitch.project.user.first_name }}
			</h1>
			<div>
				Quoted on {{ pitch.state_changed_at|date:'j F, Y'}}
			</div>
	
		</div>
		<div class="pitches_pitch_item_btns">
			<a href="{% url 'pitches:show' pitch.id %}" class="btn btn-primary">View request and quote</a> 
			<a href="{% url 'pitches:show' pitch.id %}#message" class="btn btn-default">	Message             
				{% if pitch.company_unread_message_count > 0 %}
            		<span class="unread_message_pop">{{pitch.company_unread_message_count}}<span>
            	{% endif %}
        	</a>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}