{% extends "weconnect/base.html" %}
{% block content %}

{% include 'pitches/select.html' with page='archive' only %}


<ul class="pitches_pitch_item col-md-10">
	{% for pitch in pitches %}
	<li>
		{% if pitch.state == 'accepted' %}
			{% include 'pitches/list_quote_item.html' with pitch=pitch %}
		{% elif pitch.state == 'waiting' or pitch.state == 'company_rejected' %}
			{% include 'pitches/list_request_item.html' with pitch=pitch %}
		{% elif pitch.state == 'hired' %}
			{% include 'pitches/list_hired_item.html' with pitch=pitch %}
		{% elif pitch.state == 'rejected' %}
			{% include 'pitches/list_rejected_item.html' with pitch=pitch %}
		{% endif %}
	</li>
	{% empty %}
	<li class="pitches_empty_item">You do not have any archived items yet</li>
	{% endfor %}
</ul>

{% endblock %}