{% extends "weconnect/base.html" %}
{% block content %}

{% include 'pitches/select.html' with page='hired' only %}
<h1>Hired</h1>

<ul class="pitches_pitch_item col-md-10">
	{% for pitch in pitches %}
	<li>
		<div>
			<h1>
				Hired to help {{  pitch.project.user.first_name }}
			</h1>
			<div>
				Hired on {{ pitch.hired_at|date:'j F, Y'}}
			</div>
			<a href="{% url 'pitches:show' pitch.id %}">View request and quote</a> 
		</div>
		<div>
			<form method="post" action="{% url 'pitches:archive' pitch.id %}">
				{% csrf_token %}
				<input type="submit" value="Archive">
			</form>
		</div>
		<div>
			<a href="{% url 'pitches:show' pitch.id %}">Message</a>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}