{% load staticfiles %}
{% load anora %}

<div class="pitches_project">
	<div class="pitches_project_row_header">
		{% if project.user.userprofile.photo %}
			<div class="pitches_pitch_messge_item_image" style="background-image: url('{% static project.user.userprofile.photo %}')"></div>
		{% else %}
			<div class="pitches_pitch_messge_item_image" style="background-image: url('/static/image/no-image.png')"></div>
		{% endif %}

		<div class="pitches_project_ppl_name">
			{{ project.user.full_name}}
		</div>
		<div class="pitches_project_posted">Posted on {{ project.created_at|date:'d/m/Y'}} </div>
	</div>


	<p class="pitches_project_header"> 
		{{ project.user.first_name }} is looking for 
		{{ project.sub_business.first.role|anora }}
		{{ project.sub_business.first.role|lower }}
		to help with their {{ project.sub_business.first|lower }} project.
	</p>

	{% if project.type_of_service %}
	<div class="pitches_project_row">
		<div class="pitches_project_row_key">
			What type of service {{ project.user.first_name }} is looking for?
		</div>
		<div class="pitches_project_row_value"> {{ project.type_of_service.answer|join:", " }} </div>
	</div>
	{% endif %}

	{% if project.desc %}
	<div class="pitches_project_row">
		<div class="pitches_project_row_key">
			Job description
		</div>
		<div class="pitches_project_row_value">
			{{ project.desc|linebreaksbr }}
		</div>
	</div>
	{% endif %}

	{% for qa in project.question_answer_set %}
	<div class="pitches_project_row">
		<div class="pitches_project_row_key">
			{{ qa.question.desc }}
		</div>
		<div class="pitches_project_row_value">
			{{ qa.answer_texts|join:", " }}
		</div>
	</div>
	{% endfor %}

	<div class="pitches_project_row grey-top-border "></div>

	{% if project.budget_lower and project.budget_upper %}
	<div class="pitches_project_row">
		<div class="pitches_project_row_key_inline">
			Estimated budget:
		</div>
		<div class="pitches_project_row_value_inline">
			HKD {{ project.budget_lower }} - HKD {{ project.budget_upper }}
		</div>
	</div>
	{% endif %}

	<div class="pitches_project_row">
		<div class="pitches_project_row_key_inline">
			Prefered start date:
		</div>
		<div class="pitches_project_row_value_inline">
			{% if project.urgency == 'specific' %}
			{{ project.specific_date|date:'d/m/Y'}}
			{% else %}
			{{ project.urgency_text }}
			{% endif %}
		</div>
	</div>

	<div class="pitches_project_row">
		<div class="pitches_project_row_key_inline">
			Located in:
		</div>
		<div class="pitches_project_row_value_inline">
			{{ project.my_place}}
		</div>
	</div>

	{% if project.type_of_work %}
	<div class="pitches_project_row">
		<div class="pitches_project_row_key_inline">Type of work:</div>
		<div class="pitches_project_row_value_inline"> {{ project.type_of_work.answer.0 }} </div>
	</div>
	{% endif %}
</div>

