<h1>Introduction to {{ project.business.first.name }}</h1>

<div>
	<a href="">View original request</a>
	<a href="">Cancel project</a>
</div>

<div>
	<ul>
	{% for this_pitch in pitches %}
		<li {% if this_pitch == pitch %}class="underlined"{% endif %}>
			<a href={% url 'pitches:show' this_pitch.id %}>{{ this_pitch.company.userprofile.business_name}}</a>
		</li>
	{% endfor %}
	</ul>
</div>

<div>
	<div>
		<div>
			{{ pitch.price }} {{ pitch.rate }}
		</div>
	</div>
	<div>
		<span>{{ pitch.company.userprofile.business_name}}</span>
		<span>{{ pitch.company.full_name }}</span>
		<span>{{ pitch.company.userprofile.mobile_number}}</span>
		<a href="{{ pitch.company.userprofile.website }}" target="_blank">View website</a>
	</div>
</div>

<div>
	<div>
		<div>
			<span>{{ pitch.company.full_name }}</span>
			<span>{{ pitch.state_changed_at|timesince }}</span>
		</div>
		<p>{{ pitch.desc }}</p>

		{% if not project.awarded %}
		<form method="post" action="{% url 'pitches:hire' pitch.id %}">
			{% csrf_token %}
			<input type="submit" value="Hire">
		</form>
		{% endif %}
	</div>

	<div>
		{% include 'pitches/message.html' with form=form messages=messages pitch=pitch  %}
	</div>
</div>

