{% extends "weconnect/base.html" %}
{% block content %}


<h1>Job Request</h1>
{% include 'pitches/project.html' with project=project only %}

{% if pitch.waiting %}
<div class="pitches_company_operations">
	<form method="post" action="{% url 'pitches:reject' pitch.id %}">
		{% csrf_token %}
		<input type="Submit" value="I will pass on this project" class="btn btn-danger btn-lg">
	</form>

	<form method="get" action="{% url 'pitches:accept' pitch.id %}">
		<input type="Submit" value="I want to work on this project" class="btn btn-success btn-lg">
	</form>
</div>
{% endif %}

{% if pitch.quoted %}
<h1>Your Quote</h1>
<div class="pitches_company_quote">
	<h2>{{ pitch.company.full_name }}</h2>

	<p>
		Why you would be the best person for this project? 
		<br><br>
		{{ pitch.desc }}
	</p>


	<p>
		Price:
		{%  if pitch.rate == 'NA' %}
			I do not want to provide a price yet
		{% else %}
			{{ pitch.price }} {{ pitch.rate }}
		{% endif %}
	</p>
</div>
{% endif %}

{% if not pitch.waiting %}
<h1>Message</h1>
{% include 'pitches/message.html' with form=form messages=messages pitch=pitch  %}
{% endif %}

{% endblock %}