{% extends "weconnect/base.html" %}
{% block content %}
{% load staticfiles %}



<div class="{{ pitch.quoted|yesno:'col-md-6,col-md-12'}}">
	<h3>Job Request</h3>

	{% include 'pitches/project.html' with project=project only %}

	{% if pitch.waiting and not pitch.archived %}
	<div class="pitches_company_operations">


		<form class="col-md-5" method="get" action="{% url 'pitches:accept' pitch.uniqid %}" onsubmit="return confirm('Are you sure?')">
			<input type="submit" value="I want to work on this project" class="btn btn-blue btn-block">
		</form>

		<form class="col-md-5" method="post" action="{% url 'pitches:reject' pitch.uniqid %}" onsubmit="return confirm('Are you sure?')">
			{% csrf_token %}
			<input type="submit" value="I will pass on this project" class="btn btn-grey btn-block">
		</form>

	</div>
	{% endif %}
	<div class="clearfix"></div>
</div>



{% if pitch.quoted %}
<div class="col-md-6">
	<h3>Your Quote</h3>
		<div class="pitches_quote">

			<div class="pitches_quote_row_header">
				{% if pitch.company.userprofile.logo %}
					<img class="pitches_quote_head_logo_img" src="{% static pitch.company.userprofile.logo %}" alt="{{ pitch.company.userprofile.business_name }}">
				{% else %}
					<div class="pitches_quote_head_logo">?</div>
				{% endif %}
				
				<div class="pitches_quote_head_company">
					{{ pitch.company.userprofile.business_name }}
				</div>
				{%  if pitch.rate != 'NA' %}
				<div class="pitches_quote_price">
					HKD <span class="pitches_company_select_item_price">{{ pitch.price }}</span> {{ pitch.rate }}
				</div>
				{% endif %}
				<div class="clearfix"></div>
			</div>

			<div class="pitches_quote_row">
				{% if pitch.company.userprofile.photo %}
					<img class="pitches_quote_ppl_photo_img" src="{% static pitch.company.userprofile.photo %}" alt="{{ pitch.company.full_name }}">
				{% else %}
					<div class="pitches_quote_head_ppl_photo">?</div>
				{% endif %}

				<div class="pitches_quote_row_key">
					Contact person
				</div> 
				<div class="pitches_quote_row_value">
					{{ pitch.company.full_name}}
				</div>
			</div>

			<div class="pitches_quote_row">
				<div class="pitches_quote_row_key_full">
					Why you would be the best person for this project?
				</div> 
				<p class="pitches_quote_row_value_full">
					{{ pitch.desc|linebreaksbr }}
				</p>
			</div>



			<div class="pitches_quote_row">
				<div class="pitches_quote_row_key">
					Price 
				</div>
				<div class="pitches_quote_row_value">
					{%  if pitch.rate == 'NA' %}
						I do not want to provide a price yet
					{% else %}
						HKD {{ pitch.price }} {{ pitch.rate }}
					{% endif %}
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
</div>
<div class="clearfix"></div>

{% endif %}

{% if not pitch.waiting %}
	<div id="message" class="pitches_pitch_company_message col-md-9">
		<h3>
			Message
		</h3>
		{% include 'pitches/message_box.html' with form=form pitch=pitch %}
		{% include 'pitches/message.html' with messages=messages pitch=pitch  %}
	</div>
{% endif %}

{% endblock %}