{% extends "weconnect/base.html" %}
{% load staticfiles %}
{% load sinceyear %}
{% load hformrow %}
{% block content %}
{% with "users_profile_business" as css_prefix %}


<div class="{{ css_prefix }}_left col-md-8 top_space">
	<div class="{{ css_prefix }}_head">
		<div id="head-display">
			{% if userprofile.logo %}
				<img class="{{ css_prefix }}s_head_logo_img" src="{% static userprofile.logo %}" alt="{{ userprofile.business_name }}">
			{% else %}
				<div class="{{ css_prefix }}s_head_logo">?</div>
			{% endif %}
			
			<div class="{{ css_prefix }}_head_company">
				{{ userprofile.business_name }}
			</div>
			<div class="{{ css_prefix }}_head_ppl">
				
				{% if userprofile.photo %}
					<img class="{{ css_prefix }}_head_ppl_photo_img" src="{% static userprofile.photo %}" alt="{{ userprofile.business_name }}">
				{% else %}
					<div class="{{ css_prefix }}_head_ppl_photo">?</div>
				{% endif %}
				
				<div class="{{ css_prefix }}_head_ppl_email">
					{{ user.email }}
				</div>
			</div>
			<div class="{{ css_prefix }}_head_contact">
				<div class="{{ css_prefix }}_head_contact_row">
					<span class="{{ css_prefix }}_head_contact_row_desc">T:</span>
					<span class="{{ css_prefix }}_head_contact_row_content">{{ userprofile.mobile_number }}</span>
				</div>
				<div class="{{ css_prefix }}_head_contact_row">
					<span class="{{ css_prefix }}_head_contact_row_desc">W:</span>
					<span class="{{ css_prefix }}_head_contact_row_content">{{ userprofile.website }}</span>
				</div>
			</div>
		</div>

		<div style="clear:both"></div>
	</div>


	<div class="{{ css_prefix }}_desc">
		<div id="company-desc-display">
			<span class="{{ css_prefix }}_desc_head">About the company</span>
			<p>{{ userprofile.desc|linebreaksbr }}</p>
		</div>

		<div style="clear:both"></div>

	</div>

	<div class="{{ css_prefix }}_desc">
		<div id="service-desc-display">
			<span class="{{ css_prefix }}_desc_head">Services</span>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Business Nature</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.business.first }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Categories</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.sub_business.all|join:"<br>" }}</span>
			</div>
			<p>{{ userprofile.service_desc|linebreaksbr }}</p>
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="{{ css_prefix }}_desc">
		<div id="preference-display">
			<span class="{{ css_prefix }}_desc_head">Preferences</span>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Willing to travel to customer</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.can_travel|yesno }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Customer usually travel to me</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.customer_travel|yesno }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Remote only</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.only_remote|yesno }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Travel distance</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.travel_distance.all|join:"<br>" }}</span>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
</div>
<div class="{{ css_prefix }}_right col-md-4 top_space">
	<div class="{{ css_prefix }}_companydetail">
		<div id="company-detail-display">
			<div class="{{ css_prefix }}_companydetail_row">
				<span class="{{ css_prefix }}_companydetail_row_icon"></span>
				<span class="{{ css_prefix }}_companydetail_row_content">Located in {{ userprofile.address_4|default:'?' }}</span>
			</div>
			<div class="{{ css_prefix }}_companydetail_row">
				<span class="{{ css_prefix }}_companydetail_row_icon"></span>
				<span class="{{ css_prefix }}_companydetail_row_content">{{ userprofile.employees }} employee{{ userprofile.employees|pluralize }}</span>
			</div>
			<div class="{{ css_prefix }}_companydetail_row">
				<span class="{{ css_prefix }}_companydetail_row_icon"></span>
				<span class="{{ css_prefix }}_companydetail_row_content">In business for {{ userprofile.business_since|sinceyear }}</span>
			</div>
		</div>

		<div style="clear:both"></div>
	</div>

	<div class="{{ css_prefix }}_companysocial">

		<div id="company-social-display">
			<span>Facebook: {{ userprofile.facebook|default:'None'}}</span>
			<span>LinkedIn: {{ userprofile.linkedin|default:'None'}}</span>
			<span>Twitter: {{ userprofile.twitter|default:'None'}}</span>
			<span>Printerest: {{ userprofile.pinterest|default:'None'}}</span>
			<span>Instagram: {{ userprofile.instagram|default:'None'}}</span>
		</div>
		<div style="clear:both"></div>
	</div>

</div>


{% endwith %}
{% endblock %}