{% extends "weconnect/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/bower_components/slick.js/slick/slick.css">
    <link rel="stylesheet" href="/static/bower_components/slick.js/slick/slick-theme.css">
    <link rel="stylesheet" href="/static/bower_components/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
{% endblock %}
{% block js %}
	<script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/static/bower_components/slick.js/slick/slick.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
{% endblock %}
{% load staticfiles %}
{% load sinceyear %}
{% load hformrow %}
{% load filename %}
{% block content %}
{% with "users_profile_business" as css_prefix %}

<h3 class="profile_header">Complete your portfolio to increase your chance of attracting new customers</h3>

<div class="{{ css_prefix }}_left col-md-8">
	<div class="{{ css_prefix }}_head">
		<div id="head-display">

			<a href="javascript:void(0)" class="{{ css_prefix }}_edit_btn blue-link" id="head" ><img alt="Edit" src="/static/image/edit.png"> Edit</a>

			<div class="{{ css_prefix }}_head_logo  col-md-3">
				{% if userprofile.logo %}
					<img class="{{ css_prefix }}s_head_logo_img" src="{% static userprofile.logo %}" alt="{{ userprofile.business_name }}">
				{% else %}
					<a href="javascript:void(0)" class="{{ css_prefix }}s_head_logo blue-link" id="add-your-logo">Add your logo</a>
				{% endif %}
			</div>

			<div class="{{ css_prefix }}_head_detail  col-md-9">
				<h3 class="profile_head_company_name">
					{{ userprofile.business_name }}
				</h3>			
				<div class="{{ css_prefix }}_head_company_contact">
					<div class="{{ css_prefix }}_head_contact_item col-md-6">
						<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/phone.png" alt="phone"></div>
						<div class="{{ css_prefix }}_head_contact_value">{{ userprofile.mobile_number }}</div>
					</div>
					<div class="{{ css_prefix }}_head_contact_item col-md-6">
						<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/employees.png" alt="employees"></div>
						<div class="{{ css_prefix }}_head_contact_value">{{ userprofile.employees }} Employee{{ userprofile.employees|pluralize }}</div>
					</div>
					<div class="{{ css_prefix }}_head_contact_item col-md-6">
						<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/website.png" alt="website"></div>
						<div class="{{ css_prefix }}_head_contact_value">{{ userprofile.website }}</div>
					</div>
					{% if userprofile.business_since %}
					<div class="{{ css_prefix }}_head_contact_item col-md-6">
						<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/since.png" alt="since"></div>
						<div class="{{ css_prefix }}_head_contact_value">Since {{ userprofile.business_since }}</div>
					</div>
					{% endif %}
					<div class="{{ css_prefix }}_head_contact_item col-md-6">
						<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/location.png" alt="location"></div>
						<div class="{{ css_prefix }}_head_contact_value">{{ userprofile.address_area }}</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="{{ css_prefix }}_head_person_contact">
					{% if userprofile.photo %}
						<div class="pitches_pitch_item_image col-md-4" style="background-image: url('{% static userprofile.photo %}')"></div>
					{% else %}
						<div class="pitches_pitch_item_image col-md-4" style="background-image: url('/static/image/no-image.png')"></div>
					{% endif %}

					<div class="col-md-8">
						<div class="{{ css_prefix }}_head_contact_item">
							<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/contact-name.png" alt="contact"></div>
							<div class="{{ css_prefix }}_head_contact_value">{{ user.full_name }}</div>
						</div>

						<div class="{{ css_prefix }}_head_contact_item">
							<div class="{{ css_prefix }}_head_contact_key"><img src="/static/image/email.png" alt="email"></div>
							<div class="{{ css_prefix }}_head_contact_value">{{ user.email }}</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="head-form" class="hide">
			<form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
				{% csrf_token %}
				{{ form_business_head.non_field_errors }}
				{{ form_business_head.business_name|hformrow:'Business Name'}}
				{{ form_business_head.logo|hformrow:'Company Logo'}}
				{{ form_credential.first_name|hformrow:'Your name' }}
				{{ form_business_head.photo|hformrow:'Your photo'}}
				{{ form_business_head.website|hformrow:'Website'}}
				{{ form_business_head.mobile_number|hformrow:'Mobile number'}}
				{{ form_business_head.employees|hformrow:'No. of employees' }}
				{{ form_business_head.business_since|hformrow:'Business started' }}
				{{ form_business_head.address_1|hformrow:'Room/Floor/Block' }}
				{{ form_business_head.address_2|hformrow:'Street/Residential address' }}
				{{ form_business_head.address_3|hformrow:'' }}
				{{ form_business_head.address_area|hformrow:'Area' }}
				<input type="hidden" value="head" name="part">
				<input id="head-cancel" type="button" value="Cancel" class="cancel_button btn btn-default pull-right"> 
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>
		<div style="clear:both"></div>
	</div>


	<div class="{{ css_prefix }}_desc">
		<a href="javascript:void(0)" class="{{ css_prefix }}_edit_btn blue-link" id="company-desc"><img alt="Edit" src="/static/image/edit.png"> Edit</a>
		<h3 class="company-profile-head">About the company</h3>
		<div id="company-desc-display">
			{% if userprofile.desc %}
			<p>{{ userprofile.desc|linebreaksbr }}</p>
			{% else %}
			<p><i>Tell us more about your company. This will be essential for gaining new customers.</i></p>
			{% endif %}
		</div>
		<div id="company-desc-form" class="hide">
			<form action="{% url 'users:profile' %}" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form_business_company_desc.non_field_errors }}
				{{ form_business_company_desc.desc|hformrow:'About the company' }}
				<input type="hidden" value="company_desc" name="part">
				<input id="company-desc-cancel" type="button" value="Cancel" class="cancel_button btn btn-default pull-right"> 
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>
		<div style="clear:both"></div>

	</div>

	<div class="{{ css_prefix }}_desc">
		<a href="javascript:void(0)" class="{{ css_prefix }}_edit_btn blue-link" id="service-desc"><img alt="Edit" src="/static/image/edit.png"> Edit</a>
		<h3 class="company-profile-head">Services</h3>
		<div id="service-desc-display">
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key_inline">Business Nature</span>
				<span class="{{ css_prefix }}_service_item_value_inline">{{ userprofile.business.first }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key_inline">Areas of expertise</span>
				<span class="{{ css_prefix }}_service_item_value_inline">{{ userprofile.sub_business.all|join:"<br>" }}</span>
			</div>
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Tell us more about your services</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.service_desc|linebreaksbr }}</span>
			</div>
		</div>
		<div id="service-desc-form" class="hide">
			<form action="{% url 'users:profile' %}" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form_business_service_desc.non_field_errors }}
				<div class="form-group ">
					<label class="col-sm-3 control-label">Business</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{ userprofile.business.first }}</div>			
					</div>
				</div>
				{{ form_business_service_desc.sub_business|hformrow:'Areas of expertise' }}
				{{ form_business_service_desc.service_desc|hformrow:'Tell us more about your services' }}
				<input type="hidden" value="service_desc" name="part">
				<input id="service-desc-cancel" type="button" value="Cancel" class="cancel_button btn btn-default pull-right"> 
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>
		<div style="clear:both"></div>
	</div>

	<div class="{{ css_prefix }}_desc">
		<a href="javascript:void(0)" class="{{ css_prefix }}_edit_btn blue-link" id="preference" ><img alt="Edit" src="/static/image/edit.png"> Edit</a>
		<h3 class="company-profile-head">Preferences</h3>
		<div id="preference-display">
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">I can travel to my customers</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.travel_to_customer_text }}</span>
			</div>
			{% if userprofile.travel_to_customer != 'anywhere' %}
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Travel distance</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.travel_distance.all|join:"<br>" }}</span>
			</div>
			{% endif %}
			<!--
			<div class="{{ css_prefix }}_service_item">
				<span class="{{ css_prefix }}_service_item_key">Customer usually travel to me</span>
				<span class="{{ css_prefix }}_service_item_value">{{ userprofile.customer_travel|yesno }}</span>
			</div>
			-->
		</div>
		<div id="preference-form" class="hide">
			<form action="{% url 'users:profile' %}" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form_business_preference.travel_to_customer|hformrow:'I can travel to my customers' }}
				{{ form_business_preference.travel_distance|hformrow:'Travel distance' }}

				<input type="hidden" value="preference" name="part">
				<input id="preference-cancel" type="button" value="Cancel" class="cancel_button btn btn-default pull-right"> 
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>
		<div style="clear:both"></div>
	</div>
</div>
<div class="{{ css_prefix }}_right col-md-4">
	<div class="{{ css_prefix }}_companysocial">
		<a href="javascript:void(0)" class="pull-right {{ css_prefix }}_edit_btn blue-link" id="company-social" ><img alt="Edit" src="/static/image/edit.png"> Edit</a>
		<h3  class="company-profile-right-head">Social Media</h3>
		<div id="company-social-display">
			{% if userprofile.facebook %}
			<a class="sm sm_facebook" href="{{ userprofile.facebook }}" target="_blank"></a>
			{% endif %}

			{% if userprofile.linkedin %}
			<a class="sm sm_linkedin" href="{{ userprofile.linkedin }}" target="_blank"></a>
			{% endif %}
			
			{% if userprofile.twitter %}
			<a class="sm sm_twitter" href="{{ userprofile.twitter }}" target="_blank"></a>
			{% endif %}

			{% if userprofile.google %}
			<a class="sm sm_google" href="{{ userprofile.google }}" target="_blank"></a>
			{% endif %}

			{% if userprofile.pinterest %}
			<a class="sm sm_pinterest" href="{{ userprofile.pinterest }}" target="_blank"></a>
			{% endif %}

			{% if userprofile.instagram %}
			<a class="sm sm_instagram" href="{{ userprofile.instagram }}" target="_blank"></a>
			{% endif %}
			<div class="clearfix"></div>
			<a href="javascript:void(0)" id="company-social-add">+ Add links to your social media</a>
		</div>
		<div id="company-social-form" class="hide">
			<form action="{% url 'users:profile' %}" method="post" class="form-horizontal">
				{% csrf_token %}
				{{ form_business_company_social.facebook|hformrow:'<div class="sm sm_facebook"></div>' }}
				{{ form_business_company_social.linkedin|hformrow:'<div class="sm sm_linkedin"></div>' }}
				{{ form_business_company_social.twitter|hformrow:'<div class="sm sm_twitter"></div>' }}
				{{ form_business_company_social.google|hformrow:'<div class="sm sm_google"></div>' }}
				{{ form_business_company_social.pinterest|hformrow:'<div class="sm sm_pinterest"></div>' }}
				{{ form_business_company_social.instagram|hformrow:'<div class="sm sm_instagram"></div>' }}

				<input type="hidden" value="company_social" name="part">
				<input id="company-social-cancel" type="button" value="Cancel" class="cancel_button btn btn-default pull-right"> 
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</form>
		</div>


		<div class="clearfix"></div>
	</div>

	<div class="{{ css_prefix }}_work">
		<a href="javascript:void(0)" class="pull-right {{ css_prefix }}_edit_btn blue-link" id="add-new-project" >Add new project</a>
		<h3 class="company-profile-right-head">Projects</h3>
		<div id="showcases">
		
			{% for business_showcase in business_showcases %}
			{% with form=business_showcase.form%}
			<div id="showcase-display-{{ form.form_name }}" class="showcase-display">
				<a href="javascript:void(0)" class="pull-right {{ css_prefix }}_edit_btn blue-link" id="showcase-display-{{ form.form_name }}-edit" ><img alt="Edit" src="/static/image/edit.png"> Edit</a>
				<h4>{{ business_showcase.showcase.title }}</h4>
				<div class="carousel">
					{% for att in business_showcase.showcase.attachments.all %}
					<div>
						{% if att.is_image %}
						<a class="showcase-image" style="background-image: url('{% static att.file %}')" href="{% static att.file %}" title="{{ att.caption }}"></a>
						{% else %}
						<a class="showcase-file" href="{% static att.file %}" target="_blank">Download {{ att.file.name|filename }}</a>
						{% endif %}
						<div class="showcase-caption">{{ att.caption }}</div>

					</div>
					{% endfor %}
				</div>
				<div class="clearfix"></div>
			</div>
			<form autocomplete="off" id="form-showcase-{{ form.form_name }}" action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" class="hide showcase-form">
				{% csrf_token %}
				<div id="form-group-{{ form.title.id_for_label }}" class="form-group {{ form.title.errors|yesno:'has-errors,' }}">
					<label for="{{ form.title.id_for_label }}" class="control-label">Project title</label>
					<a href="javascript:void(0)" class="pull-right delete-project" >Delete project</a>
					<div class="">
						{{ form.title.as_widget }}
						{{ form.title.errors }}
					</div>
				</div>

				<div class="showcase-atts">
					{% for row in form.get_file_rows %}
					<div class="form-group" id="att-row-{{ row.attId }}">
						<div class="col-md-5">
							<span class="hide">{{ row.file.as_widget }}</span>
							<input type="button" value="{{ row.file.value.name|filename }}" class="btn btn-primary upload-proxy" id="{{ row.file.id_for_label }}-proxy">
						</div>
						<div class="col-md-5">
							{{ row.caption.as_widget }}
						</div>
						<div class="col-md-2">
							<div id="{{ row.file.id_for_label }}-delete" class="cross"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					{% endfor %}
				</div>

				<div  class="add-another-button-row"><a href="javascript:void(0)" id="{{ form.form_name }}-add-file">+ Add another file</a></div>

				<input type="hidden" value="work" name="part">
				<input type="hidden" value="{{ form.new_count }}" name="new_count">
				<input type="hidden" value="{{ form.form_name }}" name="form_name">

				{% if business_showcase.showcase %}
				<input type="hidden" value="{{ business_showcase.showcase.id }}" name="showcase">
				{% endif %}
				<div class="showcase-buttons">
					<input type="submit" value="Save" class="btn btn-primary">
					<input type="button" value="Cancel" class="btn btn-default cancel">
				</div>
				<div class="clearfix"></div>
			</form>
			{% endwith %}
			{% endfor %}

			
		</div>
	</div>
</div>

<div id="template-cave" class="hide">
	<div id="showcase">
		{% with form=form_business_showcase_template%}
		<form  autocomplete="off" id="form-showcase-{{ form.form_name }}" action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" class="showcase-form"  >
			{% csrf_token %}
			<div id="form-group-{{ form.title.id_for_label }}" class="form-group {{ form.title.errors|yesno:'has-errors,' }}">
				<label for="{{ form.title.id_for_label }}" class="control-label">Project title</label>
				<a href="javascript:void(0)" class="pull-right delete-project" >Delete project</a>
				<div class="">
					{{ form.title.as_widget }}
				</div>
			</div>

			<div class="showcase-atts">
				{% for row in form.get_file_rows %}
				<div class="form-group">
					<div class="col-md-5">
						<span class="hide">{{ row.file.as_widget }}</span>
						<input type="button" value="Choose file" class="btn btn-primary upload-proxy" id="{{ row.file.id_for_label }}-proxy">
					</div>
					<div class="col-md-5">
						{{ row.caption.as_widget }}
					</div>
					<div class="col-md-2">
						<div id="{{ row.file.id_for_label }}-delete" class="cross"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				{% endfor %}
			</div>

			<div class="add-another-button-row"><a href="javascript:void(0)" id="{{ form.form_name }}-add-file">+ Add another file</a></div>

			<input type="hidden" value="work" name="part">
			<input type="hidden" value="{{ form.form_name }}" name="form_name">
			<input type="hidden" value="{{ form.new_count }}" name="new_count">
			<div class="showcase-buttons">
				<input type="submit" value="Save" class="btn btn-primary">
				<input type="button" value="Cancel" class="btn btn-default cancel">
			</div>
			<div class="clearfix"></div>
		</form>
		{% endwith %}
	</div>
</div>


<script>
	var edit = {
		'add-your-logo':{
			btn: $('#add-your-logo'),
			display: $('#head-display'),
			form: $('#head-form')		
		},
		'head' : {
			btn: $('#head'),
			cancelBtn: $('#head-cancel'),
			display: $('#head-display'),
			form: $('#head-form')
		},
		'company-desc' : {
			btn: $('#company-desc'),
			cancelBtn: $('#company-desc-cancel'),
			display: $('#company-desc-display'),
			form: $('#company-desc-form')
		},
		'service-desc' : {
			btn: $('#service-desc'),
			cancelBtn: $('#service-desc-cancel'),
			display: $('#service-desc-display'),
			form: $('#service-desc-form')
		},
		'preference' : {
			btn: $('#preference'),
			cancelBtn: $('#preference-cancel'),
			display: $('#preference-display'),
			form: $('#preference-form')
		},
		'company-detail':{
			btn: $('#company-detail'),
			cancelBtn: $('#company-detail-cancel'),
			display: $('#company-detail-display'),
			form: $('#company-detail-form')
		},
		'company-social':{
			btn: $('#company-social'),
			cancelBtn: $('#company-social-cancel'),
			display: $('#company-social-display'),
			form: $('#company-social-form')
		},
		// 'work' :{
		// 	btn: $('#work'),
		// 	cancelBtn: $('#work-cancel'),
		// 	display: $('#work-display'),
		// 	form: $('#work-form')
		// }
	}

	_.each(edit, function(item){
		item.btn.click(function(){
			item.display.addClass('hide')
			item.form.removeClass('hide')
			if(item.cancelBtn){
				item.btn.addClass('hide')
			}
		})

		if(item.cancelBtn){
			item.cancelBtn.click(function(){
				item.display.removeClass('hide')
				item.form.addClass('hide')
				item.btn.removeClass('hide')
			})
		}
	})

	$('#company-social-add').click(function(){
		edit['company-social'].btn.trigger('click')
	})

	$('#work-add').click(function(){
		edit['work'].btn.trigger('click')
	})

	{% if form_business_head_error %}
		edit.head.btn.trigger('click')
	{% endif %}

	{% if form_business_company_desc_error %}
		edit['company-desc'].btn.trigger('click')
	{% endif %}

	{% if form_business_service_desc_error %}
		edit['service-desc'].btn.trigger('click')
	{% endif %}

	{% if form_business_preference_error %}
		edit['preference'].btn.trigger('click')
	{% endif %}

	{% if form_business_company_detail_error %}
		edit['company-detail'].btn.trigger('click')
	{% endif %}

	{% if form_business_company_social_error %}
		edit['company-social'].btn.trigger('click')
	{% endif %}

	{% if form_business_work_error %}
		
	{% endif %}

	$('#id_business_since').datepicker({ dateFormat: 'yy-mm-dd' })

	//travel distance
	var travelDistanceBlock = $('#form-group-id_travel_distance_0')
	var travelToCustomerSelect = $('#id_travel_to_customer')
	var travelDistanceInputs = $('#id_travel_distance input');

	travelToCustomerSelect.change(function(){
		if(travelToCustomerSelect.val() === 'some_areas'){
			travelDistanceBlock.removeClass('hide')

			var allEmpty = true;
			_.each(travelDistanceInputs, function(input){ 
				allEmpty = allEmpty && !input.checked
			})

			//only check all by default if all unchecked
			if(allEmpty){
				travelDistanceInputs.prop('checked', true)
			}

		} else {
			travelDistanceBlock.addClass('hide')
			travelDistanceInputs.prop('checked', false)
		}
	})

	$(function(){
		travelToCustomerSelect.trigger('change')
	})

	$(function projectShowcase(){

		var InEditMode = false
		var showcaseAtts = [];
		var showcases = [];

		{% for business_showcase in business_showcases %}
		{% with form=business_showcase.form %}

		showcases.push({
			'deleteUrl': "{% url 'users:delete_showcase' business_showcase.showcase.id %}",
			'display': $('#showcase-display-{{ form.form_name }}'),
			'edit': $('#showcase-display-{{ form.form_name }}-edit'),
			'formName': '{{ form.form_name}}',
			'form': $('#form-showcase-{{ form.form_name }}'),
			'showcaseAtt': $("#form-showcase-{{ form.form_name }} .showcase-atts"),
			'new_count': $("#form-showcase-{{ form.form_name }} input[name=new_count]"),
			'addAtt': $('#{{ form.form_name }}-add-file'),
			'delete': $('#form-showcase-{{ form.form_name }} .delete-project'),
			'cancel': $('#form-showcase-{{ form.form_name }} .cancel'),
		})

			{% for row in form.get_file_rows %}
			
			showcaseAtts.push({  
				'deleteUrl': "{% url 'users:delete_showcase_attachment' row.attId %}",
			   'file' : $('#{{row.file.id_for_label}}'), 
			   'fileProxy' : $('#{{row.file.id_for_label}}-proxy'), 
			   'delete': $('#{{row.file.id_for_label}}-delete'),
			   'caption' : $('#{{row.caption.id_for_label}}'),
			   'row' : $('#att-row-{{ row.attId }}')
		    });

			{% endfor %}

		{% endwith %}
		{% endfor %}

		function attachShowcaseAttEvent(showcaseAtts){
			_.each(showcaseAtts, function(showcaseAtt){

				showcaseAtt.fileProxy.click(function(){
					showcaseAtt.file.click();
				});

				showcaseAtt.file.change(function(){
					showcaseAtt.fileProxy.val(showcaseAtt.file.val());
				});

				showcaseAtt.delete.click(function(){
					if(confirm('Are you sure?')){

						if (!showcaseAtt.deleteUrl){
							showcaseAtt.row.remove();
						} else {
							$.post(showcaseAtt.deleteUrl, function(){
								showcaseAtt.row.remove();
							});
						}
					}
				});
			});
		}

		attachShowcaseAttEvent(showcaseAtts);

		function changeTemplateElId(el, formName, count){

			var new_id = el.attr('id');

			if(new_id){
				if(typeof count === "number"){
					new_id = new_id.replace("0", count);
				}

				new_id = new_id.replace("___form_name___", formName);
				el.attr('id', new_id);
			}


			var new_name = el.attr('name');

			if(new_name){
				if(typeof count === "number"){
					new_name = new_name.replace("0", count);
				}

				new_name = new_name.replace("___form_name___", formName);
				el.attr('name', new_name);
			}

			var new_val = el.val();

			if(new_val){
				if(typeof count === "number"){
					new_val = new_val.replace("0", count);
				}

				new_val = new_val.replace("___form_name___", formName);
				el.val(new_val);
			}
		}


		function addAttEvent(showcase){
			return function(){
				var row = $('#showcase form:first .showcase-atts div:first').clone();
				var inputs = row.find('input');
				var count = parseInt(showcase.new_count.val());


				for(var i=0; i<inputs.length; i++){
					changeTemplateElId(inputs.eq(i), showcase.formName, count);
				}

				var cross = row.find('div.cross')
				changeTemplateElId(cross, showcase.formName, count);

				count++;
				showcase.new_count.val(count);

				showcase.showcaseAtt.append(row);


				row.find('input[type=file]').attr('required', true);

				attachShowcaseAttEvent([{
					'row': row,
				   'file' : $('#' + row.find('input[type=file]').attr('id')), 
				   'fileProxy' : $('#' + row.find('input.upload-proxy').attr('id')), 
				   'delete': $('#' + cross.attr('id'))
				}]);
			};
		}


		function validateShowCaseForm(form){

			console.log(this);

			if (this.isValid()) {
			  return;
			}

			// else stop form submission
			this.submitEvent.preventDefault();
			
			inputs = form.find('input');
			inputs.each(function(){
				if(!$(this).parsley().isValid()){
					$(this).parent().addClass('has-error');
				}

				if(!$(this).parsley().isValid() && $(this).attr('type') === "file" && !$(this).val()){
					$('#' + $(this).attr('id') + '-proxy').addClass('btn-danger').removeClass('btn-primary')
				}
			});

			return false;
			
		}

		_.each(showcases, function(showcase){

			showcase.edit.click(function(){
				if(InEditMode){
					return alert('Please Save or Cancel your current changes first.')
				}
				InEditMode = true;
				showcase.display.addClass('hide');
				showcase.form.removeClass('hide');
			});

			showcase.delete.click(function(){
				if(confirm('Are you sure')){
					$.post(showcase.deleteUrl, function(){
						InEditMode = false;
						showcase.form.remove();
						showcase.display.remove();
					});
				}
			});

			showcase.cancel.click(function(){
				InEditMode = false;
				showcase.display.removeClass('hide');
				showcase.form.addClass('hide');
			});

			showcase.addAtt.click(addAttEvent(showcase));

			showcase.form.parsley().on('form:validate', function(){
				return validateShowCaseForm.bind(this)(showcase.form);
			});
		});


		$('#add-new-project').click(function(){
			if(InEditMode){
				return alert('Please Save or Cancel your current changes first.')
			}

			InEditMode=true;

			var form = $('#showcase form').clone();
			var formName = Math.random().toString(36).substr(2, 5);
			changeTemplateElId(form, formName);

			var inputs = form.find('input');
			for(var i=0; i<inputs.length; i++){
				changeTemplateElId(inputs.eq(i), formName);
			}

			var del = form.find('#id____form_name____new_file_0-delete')
			changeTemplateElId(del, formName);

			var add = form.find('#___form_name___-add-file');
			changeTemplateElId(add, formName);

			form.appendTo($('#showcases'));

			form.find('input[type=file]').attr('required', true);

			form.parsley().on('form:validate', function(){
				return validateShowCaseForm.bind(this)(form);
			});

			attachShowcaseAttEvent([{
				'row': form.find('.showcase-atts div:first'),
			   'file' : form.find('input[type=file]'), 
			   'fileProxy' : form.find('input.upload-proxy'), 
			   'delete': form.find('div.cross')
			}]);

			add.click(addAttEvent({
				'formName': formName,
				'showcaseAtt': form.find(".showcase-atts"),
				'new_count': form.find("input[name=new_count]"),
			}));

			form.find('.delete-project').click(function(){
				if(confirm('Are you sure?')){
					form.remove();
				}
			});

			form.find('.cancel').click(function(){
				InEditMode = false;
				form.remove();
			});

		});
	});


	$(document).ready(function(){
	  $('.carousel').slick({
	  	"arrows": true,
	  	"accessibility": true,
	  	"adaptiveHeight": true,
	  	"autoplay": true,
	  	"dots": true
	  });
	});

	// fancybox
	$('.showcase-image').fancybox({
    	helpers : {
    		title : {
    			type : 'over'
    		}
    	}
    });

	$.ajaxSetup({
	  beforeSend: function(xhr, settings) {
	    xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
	  }
	});

</script>

{% endwith %}
{% endblock %}