{% extends "weconnect/base.html" %}
{% block content %}
{% load hformrow %}
<div class="col-md-10 top_space">

	<form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}
		<div class="form-group ">
			<label class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">{{user.email}}</div>
		</div>
		{{ form.non_field_errors }}
		{% for field in form %}
			{{ field|hformrow:field.label }}
		{% endfor %}
	
		{{ profileForm.non_field_errors }}
		{{ profileForm.photo|hformrow:'Photo' }}
		{{ profileForm.desc|hformrow:'About you' }}

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Save" class="btn btn-primary">
			</div>
		</div>
	
	</form>

</div>
{% endblock %}