{% extends "weconnect/base.html" %}
{% block content %}
{% load hformrow %}
<h2>Sign Up</h2>
<div class="col-md-7 auth_register">
	<form action="{% url 'auth:register_customer' %}" method="post" class="form-horizontal" data-parsley-validate>
		{% csrf_token %}

		{{ form.non_field_errors }}
		{{ form.first_name|hformrow:'First Name' }}
		{{ form.last_name|hformrow:'Last Name' }}
		{{ profileForm.mobile_number|hformrow:'Phone number' }}
		{{ form.email|hformrow:'Email' }}
		{{ form.password|hformrow:'Password' }}



		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<div>
					<input type="checkbox" value="1" id="tos" required data-parsley-error-message="You must agree to continue"> By continuing you agree to the <a href="/static/files/RatedFrogtermsAug12.pdf" target="blank">Terms and Conditions</a>.
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Sign Up" class="btn btn-blue btn-lg">
			</div>
		</div>

	</form>

</div>
<div class="col-md-5 auth_register_right hidden-xs hidden-sm">
	<h3>How it works</h3>
	<div class="signup-step-box">
		<img src="/static/image/customer-1.png">
		<span class="signup-step-title">
			<span class="blue index-step-number ">1.</span> 
			Tell us what you are looking for
		</span>

	</div>

	<div class="signup-step-box">
		<img src="/static/image/customer-2.png">
		<span class="signup-step-title">
			<span class="blue index-step-number">2.</span> 
			Receive 3 proposals within 24 hours
		</span>

	</div>

	<div class="signup-step-box">
		<img src="/static/image/customer-3.png">
		<span class="signup-step-title">
			<span class="blue index-step-number">3.</span> 
			Compare and decide who to work with
		</span>

	</div>

</div>

{% endblock %}