{% extends "weconnect/base.html" %}
{% block content %}
{% load hformrow %}
<h2>Sign up</h2>
<div class="col-md-7 auth_register">
	<form action="{% url 'auth:register_business' %}" method="post" class="form-horizontal">
		{% csrf_token %}
		{{ businessForm.non_field_errors }}
		{{ businessForm.business|hformrow:'Business' }}
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9" id="subBusiness">

			</div>
		</div>

		{{ form.non_field_errors }}
		{% for field in form %}
			{{ field|hformrow:field.label }}
		{% endfor %}

		<h3 class="business_create_account_header">Your account</h3>
		{{ accountForm.non_field_errors }}
		{{ accountForm.first_name|hformrow:'Your Name' }}
		{{ accountForm.email|hformrow:'Email' }}
		{{ accountForm.password|hformrow:'Password' }}

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Sign Up" class="btn btn-blue btn-lg">
			</div>
		</div>
	</form>
</div>
<div class="col-md-5 auth_register_right">
	<h3>How it works</h3>
	<div class="signup-step-box">
		<img src="/static/image/1.png">
		<span class="signup-step-title">
			<span class="blue index-step-number ">1.</span> 
			We send you job leads
		</span>

	</div>

	<div class="signup-step-box">
		<img src="/static/image/2.png">
		<span class="signup-step-title">
			<span class="blue index-step-number">2.</span> 
			Introduce yourself and provide a quote
		</span>

	</div>

	<div class="signup-step-box">
		<img src="/static/image/3.png">
		<span class="signup-step-title">
			<span class="blue index-step-number">3.</span> 
			Win jobs, get rated and grow your profile
		</span>

	</div>

</div>
<script>
	var subBusiness = {{ sub_business_json | safe }};
	var businessSelect = $('#id_business');
	
	var renderSubBusiness = function(){

		if (!businessSelect.val()){
			$('#subBusiness').html('');
			return;
		}

		var filteredSubBusiness = _.filter(subBusiness, function(o){
			return o.business == businessSelect.val()
		});

		var subBusinessUl = $('<ul id="id_sub_business"></ul>');
		_.each(filteredSubBusiness, function(business){
			subBusinessUl.append($('<li><label><input type="checkbox" name="sub_business" value="' + business.id + '"> ' + business.name + '</label></li>'));
		});

		$('#subBusiness').html(subBusinessUl);

	}

	//init
	renderSubBusiness();

	//on select change
	businessSelect.change(renderSubBusiness);


	//travel distance
	var travelDistanceBlock = $('#form-group-id_travel_distance_0')
	var travelToCustomerSelect = $('#id_travel_to_customer')
	var travelDistanceInputs = $('#id_travel_distance input');

	travelToCustomerSelect.change(function(){
		if(travelToCustomerSelect.val() === 'some_areas'){
			travelDistanceBlock.removeClass('hide')

			var allEmpty = true;
			_.each(travelDistanceInputs, function(input){ 
				allEmpty = allEmpty && !input.checked
			})

			//only check all by default if all unchecked
			if(allEmpty){
				travelDistanceInputs.prop('checked', true)
			}

		} else {
			travelDistanceBlock.addClass('hide')
			travelDistanceInputs.prop('checked', false)
		}
	})

	// preselect business if business in querystring
	$(function(){

		if (window.location.search.substr(1)){
			var business
			_.each(window.location.search.substr(1).split('&'), function(item){
				var kv = item.split("=")
				if(kv[0] === "business"){
					business = kv[1]
				}
			})

			businessSelect.val(business).trigger('change')
		}

		travelToCustomerSelect.trigger('change')

	})

</script>
{% endblock %}