{% extends "weconnect/base.html" %}
{% block content %}
{% load hformrow %}
<h2>Sign Up</h2>
<div class="col-md-10 auth_register">
	<form action="{% url 'auth:register_business_details' %}" method="post" class="form-horizontal">
		{% csrf_token %}
		{{ businessForm.non_field_errors }}
		{{ businessForm.business|hformrow:'Business' }}
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9" id="subBusiness">

			</div>
		</div>

		{{ form.non_field_errors }}
		{% for field in form %}
			{{ field|hformrow:field.label }}
		{% endfor %}

		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Sign Up" class="btn btn-primary btn-lg">
			</div>
		</div>
	</form>
</div>
<script>
	var subBusiness = {{ sub_business_json | safe }};
	var businessSelect = $('#id_business');
	
	var renderSubBusiness = function(){

		if (!businessSelect.val()){
			$('#subBusiness').html('');
			return;
		}

		var filteredSubBusiness = _.filter(subBusiness, function(o){
			return o.business == businessSelect.val()
		});

		var subBusinessUl = $('<ul id="id_sub_business"></ul>');
		_.each(filteredSubBusiness, function(business){
			subBusinessUl.append($('<li><label><input type="checkbox" name="sub_business" value="' + business.id + '"> ' + business.name + '</label></li>'));
		});

		$('#subBusiness').html(subBusinessUl);

	}

	//init
	renderSubBusiness();

	//on select change
	businessSelect.change(renderSubBusiness);



</script>
{% endblock %}