{% extends "weconnect/base.html" %}
{% load hformrow %}
{% block content %}
<div class="auth_login center-block">
	<p>Your password has been reset successfully. You can login now.</p>

	<form action="{% url 'auth:login' %}" method="post" class="form-horizontal">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.username|hformrow:'Email address' }}
		{{ form.password|hformrow:'Password' }}

		<input type="submit" value="Login" class="btn btn-blue pull-right">
		
	</form>

	<div class="clearfix"></div>

</div>

{% endblock %}