{% extends "weconnect/base.html" %}
{% load hformrow %}
{% block content %}
<div class="auth_login center-block">
	{% if not validlink %}
	<p>Invalid reset password request</p>
	{% else %}
	<form action="" method="post" class="form-horizontal">

		{% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.new_password1|hformrow:'New password' }}
		{{ form.new_password2|hformrow:'Confirm password' }}

		<input type="submit" value="Reset my password" class="btn btn-blue pull-right">
		
	</form>
	{% endif %}
	<div class="clearfix"></div>

</div>

{% endblock %}