{% extends "weconnect/base.html" %}
{% block content %}

<form action="{% url 'projects:create' %}" method="post">
	{% csrf_token %}
	<ul>
		{{ form.as_ul }}
		<li id="subBusiness">

		</li>
		<li>
			<input type="submit" value="Continue">
		</li>
	</ul>

</form>

<script>
	var subBusiness = {{ sub_business_json | safe }};
	var businessSelect = $('#id_business');
	
	var renderSubBusiness = function(){

		if (!businessSelect.val()){
			$('#subBusiness').html('');
			return;
		}

		var filteredSubBusiness = _.filter(subBusiness, function(o){
			return o.business == businessSelect.val()
		});

		var subBusinessSelect = $('<select class="form-control" id="id_sub_business" name="sub_business">');
		_.each(filteredSubBusiness, function(business){
			subBusinessSelect.append(new Option(business.name, business.id));
		});

		$('#subBusiness').html(subBusinessSelect);

	}

	//init
	renderSubBusiness();

	//on select change
	businessSelect.change(renderSubBusiness);



</script>
{% endblock %}