{% extends "weconnect/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
{% endblock %}
{% block js %}
	<script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
{% endblock %}
{% block content %}
{% load bigformrow %}
{% load addcss %}
<h2>Let us know more about what you need and we will introduce you to people ready to help</h2>
<div class="col-md-7">
	<form action="{% url 'projects:create_details' %}" method="post" class="form-horizontal">
		{% csrf_token %}
	

		{{ questionForm.non_field_errors }}
		{% for field in questionForm %}
			{{ field|bigformrow:field.label }}
		{% endfor %}
		
		{{ form.non_field_errors }}

<div class="form-group {%if form.budget_lower.errors or form.budget_upper.errors %}has-error{% endif %}">
	<label class="create_project_question control-label">What is your budget?</label>
	<div class="create_project_answers">
		<label><input type="checkbox" id="no-budget"> I don't have a budget in my mind just yet</label>
		<div id="form-group-budget-range">
			<div class="col-md-6">
				<div class="create_project_budget_range">From</div> 
				<div>
					<div class="create_project_budget_currency">HKD</div>
					<div class="create_project_budget_money">{{ form.budget_lower|addcss:'form-control' }}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="create_project_budget_range">To</div> 
				<div>
					<div class="create_project_budget_currency">HKD</div>
					<div class="create_project_budget_money">{{ form.budget_upper|addcss:'form-control' }}</div>
				</div>
			</div>
		</div>
		{{ form.budget_lower.errors }}
		{{ form.budget_upper.errors }}
	</div>
	<div class="clearfix"></div>
</div>
		{% for field in form %}
		{% if field.name != 'budget_lower' and field.name != 'budget_upper' %}
			{{ field|bigformrow:field.label }}
		{% endif %}
		{% endfor %}

		{% if not user.is_authenticated %}
			<h3 class="project_create_account_header">
				<a href="javascript:void(0)" id="login-form-btn">Login</a> or 
				<a href="javascript:void(0)" id="register-form-btn">Create your account, it's super quick</a></h3>

			<div id="login-form" class="">
				{{ loginForm.non_field_errors }}
				{% if auth_error %}
				<ul class="errorlist"><li>{{auth_error}}</li></ul>
				{% endif %}
				{{ loginForm.username|bigformrow:'Email address' }}
				{{ loginForm.password|bigformrow:'Password' }}
			</div>

			<div id="register-form" class="hide">
				{{ registerForm.non_field_errors }}
				{{ registerForm.first_name|bigformrow:'Your Name' }}
				{{ registerForm.email|bigformrow:'Email' }}
				{{ registerForm.password|bigformrow:'Password' }}
			</div>
			<input id="auth-mode" type="hidden" name="auth_mode" value="{{auth_mode}}">

		{% endif %}


		<br><br>
		<div class="form-group">
				<input type="submit" value="Send Request" class="btn btn-blue">
		</div>

	</form>

</div>

<script type="text/javascript">

	// budget select toggle
	var noBudget = $('#no-budget')
	var budgetFrom = $('#id_budget_lower')
	var budgetTo = $('#id_budget_upper')
	var budgetRangeBlock = $('#form-group-budget-range')

	noBudget.click(function(){
		if(noBudget.prop('checked')){
			budgetFrom.val('').prop('disabled', true)
			budgetTo.val('').prop('disabled', true)
			budgetRangeBlock.addClass('hide')
		} else {
			budgetFrom.prop('disabled', false)
			budgetTo.prop('disabled', false)
			budgetRangeBlock.removeClass('hide')
		}
	})	


	// Urgency select toggle
	var urgencySelect = $('#id_urgency')
	var specificDateBlock = $('#form-group-id_specific_date')
	var specificDateInput = $('#id_specific_date')

	urgencySelect.change(function(){
		if(urgencySelect.val() === 'specific'){
			specificDateInput.prop('disabled', false)
			specificDateBlock.removeClass('hide')
		} else {
			specificDateInput.prop('disabled', true)
			specificDateBlock.addClass('hide')
		}
	})

	//travel distance
	var travelDistanceBlock = $('#form-group-id_travel_distance_0')
	var travelToProSelect = $('#id_travel_to_pro')
	var travelDistanceInputs = $('#id_travel_distance input');

	travelToProSelect.change(function(){
		if(travelToProSelect.val() === 'some_areas'){
			travelDistanceBlock.removeClass('hide')

			var allEmpty = true;
			_.each(travelDistanceInputs, function(input){ 
				allEmpty = allEmpty && !input.checked
			})

			//only check all by default if all unchecked
			if(allEmpty){
				travelDistanceInputs.prop('checked', true)
			}

		} else {
			travelDistanceBlock.addClass('hide')
			travelDistanceInputs.prop('checked', false)
		}
	})

	var loginFormBtn = $("#login-form-btn")
	var loginForm = $("#login-form")
	var registerFormBtn = $("#register-form-btn")
	var registerForm = $("#register-form")
	var authMode = $('#auth-mode')

	loginFormBtn.click(function(){
		loginForm.removeClass("hide")
		registerForm.addClass("hide")
		authMode.val('login')
		$('#register-form input').prop('disabled', true)
		$('#login-form input').prop('disabled', false)
	})

	registerFormBtn.click(function(){
		loginForm.addClass("hide")
		registerForm.removeClass("hide")
		authMode.val('register')
		$('#login-form input').prop('disabled', true)
		$('#register-form input').prop('disabled', false)
	})

	$(function(){	
		if (budgetFrom.val() == "" && budgetTo.val() == ""){
			noBudget.trigger('click')
		}

		specificDateInput.datepicker({ dateFormat: 'yy-mm-dd' })
		urgencySelect.trigger('change')
		travelToProSelect.trigger('change')

		if(authMode.val() === 'login'){
			loginFormBtn.trigger('click')
		} else if (authMode.val() === 'register'){
			registerFormBtn.trigger('click')
		}

		var emailLabel = $('#form-group-id_email label');
		emailLabel.html(
			emailLabel.html() + 
			'<span class="help_text">We will send quote here</span>'
		)

	})

</script>

{% endblock %}