{% extends "weconnect/base.html" %}
{% block content %}
{% load hformrow %}
<h2>Let us know more about what you need and we will introduce you to people ready to help</h2>
<div class="col-md-10">
	<form action="{% url 'projects:create' %}" method="post" class="form-horizontal" data-parsley-validate>
		{% csrf_token %}
		{{ form.non_field_errors }}
		{% for field in form %}
			{{ field|hformrow:field.label }}
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9" id="subBusiness">

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<input type="submit" value="Continue" class="btn btn-blue">
			</div>
		</div>

	</form>
</div>
<script>
	var subBusiness = {{ sub_business_json | safe }};
	var businessSelect = $('#id_business');
	
	var renderSubBusiness = function(){

		if (!businessSelect.val()){
			$('#subBusiness').html('');
			return;
		}

		var filteredSubBusiness = _.filter(subBusiness, function(o){
			return o.business == businessSelect.val()
		});

		var subBusinessSelect = $('<select class="form-control" id="id_sub_business" name="sub_business" required>');
		subBusinessSelect.append(new Option('Please select',''));
		_.each(filteredSubBusiness, function(business){
			subBusinessSelect.append(new Option(business.name, business.id));
		});

		$('#subBusiness').html(subBusinessSelect);

	}

	//init
	renderSubBusiness()

	//on select change
	businessSelect.change(renderSubBusiness)

	// preselect business if business in querystring
	$(function(){
		var business
		_.each(window.location.search.substr(1).split('&'), function(item){
			var kv = item.split("=")
			if(kv[0] === "business"){
				business = kv[1]
			}
		})

		businessSelect.val(business).trigger('change')

	})


</script>
{% endblock %}