{% extends "weconnect/base.html" %}
{% block content %}

<h2>Your Projects</h2>

<ul class="projects_project_ul col-md-12">
 {% for project in projects %}
 	<li class="col-md-4">
 		<div class="projects_project_item">
	 		{% if project.awarded %}
			<span class="hired">Hired!</span>
			{% endif %}

	 		{% if project.cancelled %}
			<span class="hired">Cancelled</span>
			{% endif %}

	 		<span class="projects_project_item_count">
	 			{% if project.cancelled %}
	 				-
	 			{% else %}
	 				{{ project.pitch_count }}
	 			{% endif %}
	 		</span> 
	 		<span class="projects_project_item_sp">{{ project.sub_business.first.role }}{{ project.pitch_count|pluralize }}</span>
	 		
	 		{% if project.awarded %}
	 		<p class="projects_project_item_text"> Congratulations on hiring a pro! </p>
	 		{% elif project.pitch_count == 0 %}
	 		<p class="projects_project_item_text"> We are currently connecting with Pros, you will be able to view quotes here soon. </p>
	 		{% else %}
	 		<p class="projects_project_item_text"> Have contacted you and are ready to get started on your project. </p>
	 		{% endif %}

	 		{% if project.pitch_count > 0 and not project.cancelled %}
	 		<a href="{% url 'pitches:show' project.ready_pitch.first.id %}" class="projects_project_item_view btn btn-blue">
	 			View Project
		        {% if project.unread_message_count > 0 %}
		        <span class="unread_message_pop">{{project.unread_message_count}}<span>
		        {% endif %}
	 		</a>
	 		{% endif %}
	 		<div class="projects_project_item_date">Posted: {{ project.created_at|date:'d/m/Y'}}</div>
 		</div>
 	</li>
 {% empty %}
   <div>
   	<a href="{% url 'projects:create' %}">Submit a request</a> and start getting introduced to professionals that can help you right away
   </div>
 {% endfor %}
</ul>

{% endblock %}